/* $Id: form_wizard.css 6973 2007-04-19 20:28:41Z andrew $ */

#pane-prefs label{
	cursor: pointer;
	cursor: hand;
}

td.label{
	width: 300px;
	text-align: right;
}

td.control{
	width: 200px;
	text-align: left;
}

td.separator{
	width: 3px;
	background-color: black;
}

div.input{
	border: 1px solid black;
	width: 200px;
	text-align: center;
	height: 25px;
}

#designPreview{
	overflow: auto;
	border: 1px solid black;
	padding: 5px;
	height: 300px; 
	width: 100%;
}

.editButton{
	width: 20px;
	height: 20px;
	position: absolute;
	top: 5px;
}

.editButton {
	right: 20px;
}

.elementHolder{
	position: relative;
	padding: 5px 5px 5px 25px;
	border: 10px hidden black;
	min-height: 30px;
}


/*div.elementHolder:hover, */
.elementHighlight{
	background-color: #FFE97F !important;
	border: 1px dotted black;
}


.highlighted{
	background-color: #FFD800;
	border: 1px dotted black;
}

.option_parent {
	margin: 5px;
	padding: 5px;
	border: 1px dotted black;
}

#editForm label{
	margin: 5px 20px 5px 10px;
}

.dragHandle{
	font-size: 10px;
	width: 20px;
	height: 20px;
	position: absolute;
	left: 5px;
	cursor: move;
	background-image: url(move_arrow.gif);
	padding: 5px 0 0 0;
	background-repeat: no-repeat;
	background-position: center center;
}