.conid{width:99%; color:#443f26; margin:5px auto;}
.condet{width:99%; color:#333; margin-top:0px;}
.condet h2{ font-size:18px; color:#000;}
.condet h2 span{font-size:12px; font-weight:normal;}
.condet .sepc{ border-bottom:2px #e0e0e0 solid;}
.condet a{color:#0255a3; }
.condet label{float:left; width:70px;}
.condet .vbtn{ position:relative; top:17px; left:16px; #top:16px; _top:12px; _left:17px; #left:17px;}
.condet .vbtns{ position:relative; top:17px; left:16px; #top:16px; _top:12px; _left:15px; #left:16px;}
.condet .jvbtns{ position:relative; top:17px; left:16px; #top:22px; _top:12px; _left:15px; #left:15px;}
/* block head start */

/*Top blue band CSS starts*/
.mid .top-blue-band{background:#1e4976; height:auto; _height:40px;}
.mid .top-blue-band .top-band-txt{ width:632px; _width:631px; float:left; background:#1e4976 url(/images_cand/tj_images/images/top-blue-tip.gif) 1.5% 99%  no-repeat; no-repeat;font:bold 18px arial; color:#fff; padding-top:5px; padding-bottom:8px; _padding-top:6px; #padding-top:6px;}
.mid .top-blue-band .top-band-txt p dfn{color:#60cc00; font-style:normal; }
.mid .top-blue-band .top-band-txt p span{padding:0;}
.mid .top-blue-band .top-band-txt p span a{color:#fff; font-style:normal; font-size:11px; }
.mid .top-blue-band b{background:#1e4976; width:10px; float:left; height:35px;}/*blue-bg-top-left.gif*/
.mid .top-blue-band i{background:#1e4976; width:10px; float:right; height:35px;}/*blue-bg-top-right.gif*/
/*Top blue band CSS ends*/

/*Blue button CSS starts*/
.mid .blue-btn{margin:5px;}
.mid .blue-btn a{text-decoration:none;}
.mid .blue-btn a:hover{text-decoration:none;}
.mid .mrgn_0{ margin:0px;}
.mid .blue-btn b{background:url(/images_cand/tj_images/images/sprite_srch.gif) -42px 0  no-repeat; float:left; width:5px; height:25px}/*blue-btn-left.gif*/
.mid .blue-btn dfn{float:left; background:url(/images_cand/tj_images/images/sprite_rep_srch.gif) 0 -647px  repeat-x; font:bold 12px arial; color:#262626; padding:6px 0; }/*blue-btn-bg.gif*/
.mid .blue-btn i{background:url(/images_cand/tj_images/images/sprite_srch.gif) -78px 0  no-repeat; float:left; width:5px; height:25px}/*blue-btn-right.gif*/
.mid .blue-btn .co{color:#dc291e;}
/*Blue button CSS ends*/

.condet h2 .gr{font:bold 11px arial; color:#008000;}
.condet .cat-li{list-style-type:none; width:340px; }
.condet .cat-li .gr{font:bold 12px arial; color:#008000;}
.condet .cat-li li{margin:5px 0 5px; color:#565656;}
.condet .cat-li li .li-txt{width:300px;}
.condet .input{ position:relative; top:2px; margin-right:2px;}



.condet .cat-li .detail{font:normal 11px arial; color:#292929;}
.top-band-txt .search-img{float:left;  vertical-align:middle; margin-right:5px;}
.top-band-txt .s-txt{font:normal 12px arial; float:left;}
.top-band-txt span{ color:#ffde00;}
/*.mid .cat-type{border-bottom:2px solid #e0e0e0; padding:5px 0;}*/
.mid .cat-type{padding:5px 0;}
.mid .bn{border:none;}
.cat-type .cat-t2{text-align:right; width:100px; border-right:1px solid #e0e0e0; height:40px; padding-top:10px; padding-right:10px; font-weight:bold; color:#a8a8a8;}
.cat-type .cat-t2 em{font-style:normal; color:#262626;}
.cat-type .cat-t2r{color:#262626; padding-top:5px; padding-left:10px;}
.cat-type .cat-t2r em{background:url(/images_cand/tj_images/images/sprite_srch.gif) -168px 0  no-repeat; width:14px; height:16px; margin:10px 0 0 1px; padding:3px 0 0 5px; font-style:normal; font-weight:bold; display:block; float:left;  }/*char-bg.gif*/
.cat-type .cat-t2r select{width:265px; margin-top:5px}
.cat-type .cat-t2r input{margin-top:5px}
.mid .top-blue-band .blt2{background:#1e4976 url(/images_cand/tj_images/images/block-arr2.gif) no-repeat; background-position:left bottom;}

/* right panel start */

/* latest update  start here */
.profile{width:100%; color:#bbdeff; }
.profile h2{ float:left;  font-size:18px; color:#fff; font-weight:normal;}
.profile .head{background:url(/images_cand/tj_images/images/sprite_rep_srch.gif) 0 -305px repeat-x; height:35px;}/*lu-cor-mid.gif*/
.profile .mid{float:left; padding:7px 0 0 5px; color:#fff;}
.profile .corl{background:url(/images_cand/tj_images/images/sprite_srch.gif) -88px 0 no-repeat; width:6px; height:34px; margin-top:2px;}/*lu-cor-l.gif*/
.profile .corr{background:url(/images_cand/tj_images/images/sprite_srch.gif) -98px 0  no-repeat; width:3px; height:34px;margin-top:2px;}/*lu-cor-r.gif*/
.profile .lucon{ width:100%; background:#1e4976; border-top:1px #4b6d91 solid; }
.profile .bot {height:5px;	background:url(/images_cand/tj_images/images/sprite_rep_srch.gif) 0 -353px repeat-x; background:#1e4976;}/*line-bot.gif*/
.profile ul  {list-style-type:none; color:#fff; font-size:12px;}
.profile li{ padding-left:14px; background:url(/images_cand/tj_images/images/sprite_srch.gif) -147px -89px  no-repeat;}/*bullet-lu.gif*/
.profile .padd1{ padding-top:4px; padding-left:14px;}
.profile .sep{ border-bottom:1px #3c648e solid;}
.profile .high{ color:#00fcff;}
.profile .app{ color:#60cc00; }
.profile .effres{ color:#fff; font-weight:bold;}
.profile .rmess{ padding:5px 2px; width:225px; color:#fff;}
.profile .strip {height:20px; background:url(/images_cand/tj_images/images/sprite_rep_srch.gif) 0 -241px repeat-x bottom; padding:4px 0 0 15px;}/*pro-strip.gif*/
.profile .strips {height:20px; padding:4px 0 0 15px;}
.profile .daysp{ float:left; padding:3px 0 0 0px;  color:#000; background:url(/images_cand/tj_images/images/sprite_srch.gif) 0 -89px no-repeat; width:132px; height:18px; margin-top:7px; margin-left:5px; font-size:10px; text-align:center;}/*datet-bg.gif*/
/* latest update  end here */


/*FEA SEC START */
.feasec{ background:#fcffec;}
.feasec h3{ font-size:18px; width:97%; color:#000; padding-left:2px; padding-bottom:7px;  border-bottom:2px #ccc solid;}
.feasec .fsl{float:left; margin-right:8px; _margin-right:6px;}
.feasec .fsl img {padding-bottom:8px;}
.fc{background:#fcffec;} /* will bed added in global */
/*FEA SEC END */

/* search jobs start here */
.searchjobc{ width:100%;}
.searchjobc b{color:#000;}
.searchjobc h2{color:#000;}
.searchjobc .head{ height:38px;border:1px solid #CCCCCC; background:#D1D1D1;}


.searchjobc .mid{float:left; padding:7px 0 0 5px;}
.searchjobc .subhead{background:url(/images_cand/tj_images/images/sprite_rep_srch.gif) 0 -73px repeat-x; height:19px; font-size:11px; padding:2px 0 0 10px; color:#000; border:1px solid #ccc; border-top:0; border-bottom:0;}/*sjobs-head.gif*/
.searchjobc .subhead .subl{float:left; width:170px;}
.searchjobc .subhead .subr{float:right; width:38px; text-align:center; color:#000; font-weight:bold;}
.searchjobc .catcon{  width:99%; border:1px solid #ccc; border-top:0;}
.searchjobc .catcon .shb{ position:relative; right:10px; bottom:10px; top:-2px;}
.searchjobc .jobcat{ float:left; margin:5px 0 5px 5px; width:160px;}
.searchjobc .njob{ float:right; margin:5px 0 5px 2px; width:60px; color:#155e98; text-align:right; padding-right:5px; color:#737373}
.searchjobc .njob a{color:#737373;}
.searchjobc .njob a:visited{color:#737373;}
.searchjobc .sep{border-bottom:1px #ccc solid;}
.searchjobc .btn{position:relative; top:-4px; #top:-1px; padding-left:10px;}

.searchjobc .bot {height:5px; background:#eee;}
/* search jobs end here */

/* consult zone start */
.conzone{ margin:0 2px 0 2px;}
.conzone h2{ font-size:18px; color:#000; padding-bottom:4px; border-bottom:1px #d3d3d3 solid; font-weight:normal;}
.conzone .mes{ font-size:11px;}
.conzone ul{ list-style-type:none;}
.conzone ul li{ font-weight:bold; color:#005bcc; line-height:22px;}
/* consult zone end */

/* feat zone start */
.fzone{ margin:0 2px 0 2px;}
.fzone h2{ font-size:18px; color:#000; padding-bottom:4px; border-bottom:1px #d3d3d3 solid; font-weight:normal;}
.fzone .cog{color:#008000;}
.fzone .cogr{color:#747474;}
.fzone .sepfz {border-top:1px #d3d3d3 solid; font-weight:normal; height:5px;}
.fzone a { color:#085ac0;}

/* rsearch start */
.rsearch{ background:url(/images_cand/tj_images/images/sprite_rep_srch.gif) 0 -152px repeat-x; height:35px;}/*rsrch-cor-m.jpg*/
.rsearch .midres{float:left; padding-top:5px;}
.rsearch h2{float:left; font-size:18px; color:#6e6e6e; width:130px; margin:0px 6px 0 6px}
.rsearch .navser{ float:left; }
.rsearch .navser ul{list-style-type:none;}
.rsearch .navser  li{ float:left; font-size:10px; padding:7px 0 0 0; text-transform:uppercase;}
.rsearch .navser li a{ color:#005bcc; font-size:10px; padding:0 6px 0 6px;}

/* search start */
.jres{ width:100%;}
.jres .bar { position:relative; top:3px;}
.jres h2{ border-bottom:2px #e0e0e0 solid; color:#000; padding-bottom:4px;}
.jres .bl{ border-top:1px #e0e0e0 solid; margin-top:10px;}
.jres .colL a, .colR a { color:#4980bb; text-decoration:underline;}
.jres .colL h4, .colR h4 { color:#005bcc; font-size:12px;}
.jres .colL h5, .colR h5 { color:#008000; font-size:12px; font-weight:normal;}
.jres .colL h6, .colR h6 { color:#747474; font-size:12px; font-weight:normal;}
.jres .colL  .bb, .colR .bb {border-bottom:1px #e0e0e0 solid; margin-top:10px; margin-bottom:10px;}

.jres .colL{ float:left; width:350px; margin-right:5px;}
.jres .colL h3{ float:left; width:55px; margin-right:10px;}
.jres .colL .cont{ float:left; width:280px;}
.jres .colL .seps{float:left; width:345px; border-bottom:1px #e0e0e0 solid; margin-right:5px;}

.jres .colR{ float:left; width:350px; height: 100px;}
.jres .colR h3{ float:left; width:60px; margin-right:5px;}
.jres .colR .cont{ float:left; width:280px;}

/* feedback */
.feback{ width:99%;}
.feback h3{ float:left; font-size:18px; color:#4872dc; _padding:5px 0 5px 0;}
.feback .pls{position:relative; top:5px;}


/* block head start */
.sblock{margin:2px 0 0 0;}
.sblock .blockhead{ background:#1e4976 repeat-x; height:35px;}

.sblock .blockhead .midr{float:left; width:680px; padding:0px 0 6px 0; }

.sblock .blockhead h2{ width:320px; padding-top:7px; _padding-top:7px; font-size:18px; color:#fff; text-align:right;  }
.sblock .blockhead h4 {position:absolute; background:url(/images_cand/tj_images/images/block-arr.gif) no-repeat left bottom; width:5px; height:25px; }
.sblock .blockhead h5 { padding-top:7px; _padding-top:7px; font-size:18px; color:#fff; text-align:left; margin-left:-10px;}
.sblock .blockhead h5 span{ color:#ffde00;}
.sblock .blockhead h6{ width:300px; padding-top:7px; _padding-top:7px; font-size:18px; color:#fff; text-align:left;  }
.sblock .blockhead h2 span{ font-size:12px; color:#74c9ff; font-weight:normal;}
.sblock .blockhead .arc{position:relative; left:15px; top:10px; #top:11px;}
.sblock .blockhead .conl{ float:left; width:250px;}
.sblock .blockhead .arr{ background:url(/images_cand/tj_images/images/block-arr3.gif) 0 0 no-repeatpadding:0 0 0 10px;position:relative;top:15px;}
.sblock .blockhead h2.pdb{padding-bottom:0px;}
.sblock .blockhead .rsec{padding-top:0px; margin-top:4px;}
.sblock .navcon{ width:100%; background:#d2dbe4; }
.sblock .navcon .navb{float:left; width:330px; _width:320px; #padding-top:5px; font-size:10px; font-weight:bold;  margin-left:7px; color:#1e4976; height:17px; #height:17px;}
.sblock .navcon .navb li{ float:left; list-style-type:none; line-height:12px; padding:0px 5px 0px 5px; }
.sblock .navcon .navb li a{color:#1e4976;}
.sblock .navcon .navb .ar{position:relative; top:-2px;}

.sblock .navcon  .key{float:right; width:300px; font-size:11px; font-weight:bold; margin-top:0px; margin-left:7px; color:#16395e; text-align:right; padding-right:10px; #padding-top:4px;}

.sblock .navcon .kr{ color:#e1483f; font-size:10px;}
.sblock .navcon .kr a{ color:#e1483f; font-size:10px;}
/* block head end */


/* MY JOB START */

.smyjob{width:99%; color:#262626; margin:0 auto; }
.smyjobcon {width:100%; background:#fff; }
.smyjobcon a { color:#4980bb; text-decoration:none;}
.smyjobcon b {color:#000;}
.smyjobcon .vd a{color:#005bcc; text-decoration:none;}
.smyjobcon .sjobcat{ margin-left:20px;}
.smyjobcon .mrg{ margin-left:5px;}
.sjobcat .lnk a{ background:url(/images_cand/tj_images/images/sprite_rep_srch.gif) 0 -581px repeat-x /*bottom*/;  text-decoration:none;}/*dotted_limk.gif*/
.sjobcat .lnk a:hover{ text-decoration:none; background-image:none; background:url(/images_cand/tj_images/images/sprite_rep_srch.gif)  0 -588px repeat-x /*bottom*/;}/*dotted_limk.gif*/
.smyjobcon .cnt{color:#008000}
.smyjobcon .stf{color:#747474}
.smyjobcon h3{ font-size:14px; color:#005bcc;}
.smyjobcon h3 dfn{ font-weight:normal;  font-style:normal;}
.smyjobcon h3  a{ color:#005bcc; text-decoration:none;}
.smyjobcon h3  a:visited{ color:#005bcc; text-decoration:none;}
.smyjobcon h3 span{ color:#262626; font-weight:normal;}
.smyjobcon .lnk{ float:left; width:auto; padding-right:20px; }
.smyjobcon .lnks{ float:left; width:210px; }
.smyjobcon .lnks  a{ background:url(/images_cand/tj_images/images/sprite_rep_srch.gif)  0 -588px repeat-x /*bottom*/;  text-decoration:none;}/*dotted_limk.gif*/
.smyjobcon .lnks a:hover{ text-decoration:none; background-image:none;}
.smyjobcon .cw{ float:left; width:490px;}
.smyjobcon .pl{float:left; margin-left:190px;   font-size:11px; color:#747474; }
.smyjobcon .pls{float:left; margin-left:290px;   font-size:11px; color:#747474; }
.smyjobcon .blk{float:left; width:120px;}
.smyjobcon .jsep{ border-bottom:1px #ccc solid;}
.smyjobcon .pic{position:relative; top:-3px; right:2px;}
.smyjobcon .vic{position:relative; top:4px;}
.smyjobcon .vsec{float:right; text-decoration:none;}
.smyjobcon .vsec a {color:#005bcc; text-decoration:none;}
.smyjobcon .vsec a:hover{color:#005bcc; text-decoration:underline;}
.smyjobcon .chk{position:relative;	margin-left:-15px; #margin-left:-22px; padding-right:4px; #padding-left:2px;}
.impact_icn{position:relative; margin-bottom:-4px; margin-left:3px;}
.smyjobcon  .colls {float:left; width:100px;}
.smyjobcon  .collrs {float:right; width:420px; }
.smyjobcon i{font-style:normal; color:#000;}
.mid h2{ font-size:17px;}
/* MY JOB END */


.moreac{ width:230px; position:absolute; margin-left:-8px; #margin-left:-90px;  margin-top:-20px; #margin-top:0px;   z-index:999; display:none;}
.moreac .headm{background:url(/images_cand/tj_images/images/sprite_srch.gif) -1px -51px no-repeat; height:25px;}/*more-pop-head.jpg*/
.moreac .boxm{background:#fff; border:2px #c2d3df solid;}
.moreac .boxm ul {list-style-type:none;}
.moreac .boxm ul li{color:#c2d3df; _border-bottom:1px solid #fff;}
.moreac .boxm ul li a{color:#4980bb; display:block; text-decoration:none; padding:4px;}
.moreac .boxm ul li a:hover{background:#e5edf6; display:block;}

.spercpop{width:122px; position:absolute; margin-left:188px !important; #margin-left:-115px !important;_margin-left:-115px !important;  z-index:999; display:none; font-size:10px; display:none; margin-top:-15px; #margin-top:0; text-align:left;}
.spercpop .headm{height:17px;}
.spercpop .boxm{background:#fff; border:2px solid #c2d3df;}
.spercpop .boxm ul{list-style-type:none;}
.spercpop .boxm ul li{display:block; background:#fff; border-bottom:1px solid #c2d3df; }
.spercpop .boxm ul li a{display:block; background:#fff; padding:4px}
.spercpop .boxm ul li a:hover{background:#e5edf6; display:block;}

.keypop{ width:122px; position:absolute; margin-left:-100px; #margin-left:250px; margin-top:5px; z-index:999; display:none; font-size:10px; display:none;}
.keypop .headm{ height:17px;}
.keypop .boxm{background:#fff; border:2px #c2d3df solid;}
.keypop .boxm ul {list-style-type:none;}
.keypop .boxm ul li{border-bottom:1px #c2d3df solid; color:#c2d3df; border-top:1px #c2d3df solid; }
.keypop .boxm ul li a{color:#4980bb; display:block;  text-decoration:none;}
.keypop .boxm ul li a:hover{background:#e5edf6; display:block;}


.percpop{ width:122px; position:absolute; margin-left:-220px; #margin-left:130px; margin-top:5px; z-index:999; display:none; font-size:10px; display:none;}
.percpop .headm{height:17px;}
.percpop .boxm{background:#fff; border:2px #c2d3df solid;}
.percpop .boxm ul {list-style-type:none;}
.percpop .boxm ul li{border-bottom:1px #c2d3df solid; color:#c2d3df; border-top:1px #c2d3df solid;}
.percpop .boxm ul li a{color:#4980bb; display:block; padding:4px; text-decoration:none;}
.percpop .boxm ul li a:hover{background:#e5edf6; display:block;}

.snav-btn{padding:8px; text-align:right;}
.snav-btn em{font-style:normal; padding:3px 7px; color:#556f8e; font:bold 12px arial; cursor:pointer;}
.snav-btn em a{ text-decoration:none; color:#556f8e;}
.snav-btn em.active{background:#95A6B9; color:#fff; }/*nav-btn-bg.gif*/

.mess{ font-size:14px; color:#262626;}
.mess .cr{ color:#e1483f; font-style:normal;}
.mess .cb{color:#085ac0; font-weight:bold;}
.mess .cbl{color:#000; font-weight:bold;}
.mess h2{ font-size:18px; color:#000; margin-top:-5px;}
.mess h2 span{ font-size:18px; color:#008103; margin-top:-5px;}
.view{ float:left; width:662px; display:none; color:#565656;}
.view .vhead{width:100%; background:#e4e4e4 url(/images_cand/tj_images/images/sprite_rep_srch.gif) 0 -41px repeat-x; height:21px;}/*view-cor-m.gif*/
.view .midcon{  height:245px; _height:236px; overflow:hidden;}
.view .mid{border:1px #e0e0e0 solid; color:#565656; height:242px; overflow:scroll;}
.view .mid p{padding:10px 0 10px 5px; line-height:18px; text-align:justify;}

/*Not Login Page starts here*/

/*global*/
.sep3{ border-bottom:1px #d8d8d8 solid; }
.mrgn_b20{ margin-bottom:20px;}
.norml{font-style:normal;}
.mrgn_t20{ margin-top:20px;}
.mrgn_t2{ margin-top:2px;}
/*font colors*/
.blue3{color:#4872dc;}
.green{ color:#008000;}
.blck1{ color:#000;}
.blck2{ color:#262626;}


/*centre part*/
.jb_div{ width:350px; float:right; margin-top:7px; color:#828282;}
.job_detail h2{ color:#262626; font-size:18px;}
.job_detail .lft{ width:485px;}
.job_detail h3{ color:#828282; font-size:14px;}
.job_detail p{ margin:22px 0px 0px 95px}
.job_detail label{ color:#565656; text-align:right; width:100px;}

/*top row*/
.row_top{}
.row_top .head_lbl{width:125px; text-align:right; float:left; font-size:12px;}

.head_lbl{ width:125px; text-align:right; float:left;}
.head_lbl label{ font-weight:bold; color:#565656;}
.head_lbl_ap label{ font-weight:bold; color:#565656; float:left; width:90px; text-align:right; padding-right:10px;}
.spw{ float:left; width:510px; }
.row span{ float:left;}

.row .txt_r{ float:right; width:570px;}
.row .txt_l{ float:left; padding-left:10px; width:550px;}
.txt_r ul{ list-style-type:square; padding:5px 15px; line-height:20px;}
.txt_r li{}
.head_gr{ font-size:14px; }


.in_lbl label{width:51px; text-align:right; float:left; font-weight:bold;}
.in_lbl span{float:left; margin-left:5px;}

/*.lg_bottom .lft{background:url(/images_cand/tj_images/images/sprite_srch.gif) -194px 2px  no-repeat; width:6px; height:45px; float:left;margin-left:-1px;}ntlogin-l.gif*/
.lg_bottom .mid{width:98.4%; float:left; border:0; background:#F9F9F9; border:1px solid #E6E6E6;padding:3px 5px;}/*ntlogin-bg.gif*/
/*.lg_bottom .rght{background:url(/images_cand/tj_images/images/sprite_srch.gif) -117px 3px no-repeat; width:5px; height:45px; float:left;}ntlogin-r.gif*/

/*center parts ends here*/


/*to be added in global*/
.fc{background:#fcffec;} 
/*brown button TO BE ADDED IN GLOBAL*/ 
.brown_btn{ height:24px;}
.brown_btn .l{background:url(/images_cand/tj_images/images/sprite_srch.gif) -136px 0  no-repeat; width:11px; height:24px; float:left; }/*brwn-bttn-l.gif*/
.brown_btn .m{background:url(/images_cand/tj_images/images/sprite_rep_srch.gif) 0 -613px repeat-x;height:24px; float:left; color:#ffffff; }/*brwn-bttn-bg.gif*/
.brown_btn .r{background:url(/images_cand/tj_images/images/sprite_srch.gif) -153px 0  no-repeat; width:11px; height:24px; float:left; }/*brwn-bttn-r.gif*/

/*RIGHT PANEL starts*/
.h_sponsor{ color:#828282; font-style:normal; margin-top:22px;}
.spnsr_p{line-height:18px; }
/*RIGHT PANEL ends*/


/*FOOTER*/
.login_footmodule{float:left; width:100%; min-width:980px; background:#f7f7f7; height:120px; border-top:1px solid #e0e0e0;}
.login_footer{ width:980px; margin:0 auto; color:#f7f7f7; font-size:12px; margin-top:10px;}
.login_footer dfn{ color:#797979; font-style:normal;}

/*Not Login Page ends here*/





/*RECRUITER PREVIEW CSS CODE STARTS*/
p.id-block {padding:0;}
.id-block .lgb{background:url(/images_cand/tj_images/images/sprite_srch.gif) 136px 0  no-repeat;  float:left; width:11px; height:24px;}/*brwn-bttn-l.gif*/
.id-block .rgb{background:url(/images_cand/tj_images/images/sprite_srch.gif) -153px 0  no-repeat;  float:left; width:11px; height:24px;}/*brwn-bttn-r.gif*/
.id-block .g-txt{float:left; background:#828282; padding:2px 0 4px 0; margin-top:2px; color:#fff; font-style:normal;}
.mid .u-pic{padding:10px; padding-left:0;}
.mid .u-detail{padding:10px;  padding-bottom:2px;}
.u-detail .u-name{font:bold 18px arial; color:#262626;}
.u-detail .u-age-loc{color:#828282; font:bold 12px arial;}
.u-detail .u-addr{color:#262626;}
.mid .edit-detail{padding:10px; padding-bottom:0; vertical-align:text-bottom; text-align:right;  margin-top:-30px;}
.ln{display:block; _padding:2px 0;}
.mid  .edu{display:block; float:left; font:bold 18px arial; width:585px; color:#262626;}
.mid .detail-list-l{list-style-type:none; color:#262626; margin-top:5px; width:200px; padding-left:1px;}
.detail-list-r{list-style-type:none; color:#262626; margin-top:5px; padding-left:1px;}
.detail-list-r li .c-loc{display:block; float:left; width:383px;}
.edit-info{color:#262626; }

.mid .detail-blk{margin:20px 0; color:#000;}
.detail-blk .hd{border-bottom:1px dotted #e4e4e4; padding-bottom:3px;  }
.detail-blk .hd .hd1{font:bold 18px arial; color:#000; width:610px; display:block; float:left;}
.detail-blk .hd img{margin-right:10px;}
.detail-blk .hd  em{font:normal 12px arial; font-style:normal;}
.detail-blk .hd   .einfo{font:normal 12px arial; display:block; padding-top:10px; }

.detail-blk  .cntnt-area p { margin:5px 0 5px 10px; line-height:18px;}
.cntnt-area p label{display:block; width:150px; float:left; font-weight:bold;}
.cntnt-area p span{display:block; float:left;}
.cntnt-area p label.ctc{display:block;  float:left; font-weight:bold; width:auto; margin-right:3px;}
.cntnt-area p ul{list-style-type:none; margin-left:5px; margin-top:-25px;}

/*RECRUITER PREVIEW CSS CODE ENDS*/



.grey_div{width:100%; font-weight:normal; background-color:#f6f8fa; font-size:11px;}
.grey_div .top{height:4px;	background:url(/images_cand/tj_images/images/sprite_rep_srch.gif) 0 -680px repeat-x;}/*grey-curvelinetop.gif*/
.grey_div .bot {height:4px;	background:url(/images_cand/tj_images/images/sprite_rep_srch.gif) 0 -363px repeat-x;}/*grey-curvelinebot.gif*/
.grey_div .mid {padding:5px 5px 5px 0px; background:none;	border-left:1px #e0e0e0 solid;	border-right:1px #e0e0e0 solid; }
.grey_div h2{ font-size:18px; color:#000000;}
.green_head{ font-size:12px; padding:6px 0px;color:#008000;}
.cate ul{list-style-type:none; }
.cate ul li{ padding:4px 0 4px 18px; background:url(/images_cand/tj_images/images/bul-right.gif) no-repeat left; }
.cat  ul  {list-style-type:none; color:#262626;}
.cat li{ padding-left:14px; background:  url(/images_cand/tj_images/images/sprite_srch.gif) 0 -121px no-repeat ;}/*bul-grt.gif*/

/*-----Successful message box code------*/
.stat-msg{ margin:5px 0;  }
.stat-msg .mid-msg{border:1px solid #cee7ad; border-top:0; border-bottom:0; background:#f8fed6; margin-top:-7px; _margin-top:0px; font:bold 18px arial; text-align:left;  padding:10px 0; _padding:5px 0; color:#5dc430;  }
.stat-msg .mid-msg img{ margin-left:20px; margin-right:5px;}
.stat-msg .top-border{background:url(/images_cand/tj_images/images/succ-lft-bg.gif) no-repeat; background-position:top left;}
.top-border dfn{display:block;background:url(/images_cand/tj_images/images/succ-rgt-bg.gif) no-repeat; background-position:top right; }
.top-border dfn del{display:block;text-decoration:none; border-top:1px solid #cee7ad;background:#f8fed6; margin:0 2px; padding-top:8px;}

.stat-msg .bottom-border{background:url(/images_cand/tj_images/images/succ-lft2-bg.gif) no-repeat; background-position:top left;}
.bottom-border dfn{display:block;background:url(/images_cand/tj_images/images/succ-rgt2-bg.gif) no-repeat; background-position:top right; }
.bottom-border dfn del{display:block;text-decoration:none; border-bottom:1px solid #cee7ad;background:#f8fed6; margin:0 2px; padding-top:8px;}
/*-----Successful message box code------*/
/*yellow div*/
.incomp_p{ color:#dc9600; width:640px; padding:5px;}
.incomp_field{ list-style-image:url(/images_cand/tj_images/images/bul-dbl-arr.gif); padding:10px 10px 5px 20px;}
.incomp_field li{ color:#4872dc; font-weight:bold; }

/*SINGLE APPLIED PAGE ends here*/

/* legand start */
.legand{ width:100%; padding-top:7px; font-size:11px; color:#000;}
.legand .lcoll{ float:left; width:200px;}
.legand .lcolr{ float:right; width:470px; text-align:right; }
.legand .lcolr ul{list-style-type:none; text-align:right; float:right;}
.legand .lcolr ul li{ float:left; padding-right:10px;}
.legand a { color:#0072c1;}
.legand .lcn{position:relative; top:4px; padding-right:5px;}
.legand .lcns{position:relative; top:6px; padding-right:5px;}

/* job infocon */
.jobinfo{background:#f7f8fa; }
.jobinfocon h3{ font-size:18px; color:#000; }
.jobinfocon h3 span{color:#008000;}
.jobinfocon h4{ font-size:13px;}
.jobinfocon h5{ font-size:14px;}
.jobinfocon .jcat{ font-size:11px;}
.jobinfocon{ color:#292929; margin-left:5px;}
.jobinfocon .jic{position:relative; top:4px;}
.jobinfocon .sepj{border-top:1px #ccc solid;}
.jobinfocon .vew{font-size:12px;}
.jobinfocon .jcoll{float:left; width:160px;}
.jobinfocon .jcolr{float:left; width:520px;}
.jobinfo a{ color:#005bcc;}

.jobcominfo{background:#fcffec; }
.jobcomcon {margin-left:3px; font-family:Arial;}
.jobcomcon .jccoll{float:left; width:400px;}
.jobcomcon h3{ font-size:16px; color:#000;  }
.jobcomcon h1 span{color:#008000;}
.jobcomcon h1{ font-size:16px; color:#000; }
.jobcomcon  h3 span{color:#008000;}
.jobcomcon  h4{ font-size:12px; color:#a1a1a1;}
.jobcomcon .jccolr{float:right; width:150px; margin-right:10px;}


/* comapany category */
.cocatcon{width:100%;}
.cocatcon a{color:#005bcc;}
.cocatcon p{display:block; padding:2px 0 2px 10px;}
.cocatcon .comcol{float:left; width:230px;}
.cocatcon .sepj{border-top:2px #ebebeb solid;}
.cocatcon .cnav-btn{ float:left; padding:8px; text-align:center; width:460px;}
.cocatcon .cnav-btn em{font-style:normal; padding:3px 7px; color:#556f8e; font:bold 12px arial; cursor:pointer;}
.cocatcon .cnav-btn em.active{background:url(/images_cand/tj_images/images/sprite_srch.gif) -18px -172px no-repeat; color:#fff; }/*nav-btn-bg.gif*/
.cocatcon .nc {float:left; padding-top:5px;  width:110px;}
.cocatcon .nc .bg {float:right; background:url(/images_cand/tj_images/images/cir.gif) right no-repeat; width:30px; height:30px; color:#fff; font-weight:bold; padding:2px 5px 0 0px; text-align:right; }

.cocatcon .nc .bgr{float:left; background:url(/images_cand/tj_images/images/cirr.gif) left no-repeat; width:35px; height:30px; color:#fff; font-weight:bold; padding:2px 10px 0 0px; text-align:right; }

/*Times ascent page 21 nov 2008*/
.wsdcon{width:100%; background:#f6f8fa; padding:0px 0 0px 0;}
.wsddet{ margin:0px 5px 0 5px; background:#fff;}
.wsddet .head{ background:url(/images_cand/tj_images/images/sprite_rep_srch.gif) 0 0 repeat-x;}/*vb-cor-m.gif*/
.wsddet .head b{padding-left:10px; color:#1e4976;}
.wsddet .sdcon { color:#000;}
.wsddet .sdcon td{ height:25px;}
.wsddet .sdcon .brb{border-bottom:1px #dee2e8 solid; border-right:1px #dee2e8 solid; padding-left:10px;}
.wsddet  .br{border-right:1px #dee2e8 solid;  padding-left:10px;}
.wsddet .sdcon .br{border-right:1px #dee2e8 solid;  padding-left:10px;}
.wsddet .sdcon .bb{border-bottom:1px #dee2e8 solid; padding-left:10px;}
.wsddet .sdcon .bn{ padding-left:10px;}
.wsddet .sdcon .exp{ padding:4px 0 4px 0; color:#262626;}
.wsddet .sdcon .date{padding:4px 0 4px 0; color:#7b7b7b; }
.wsddet .sdcon .dis{padding:4px 0 4px 0; color:#008000; font-size:11px;}
.wsddet .mrlw{#width:330px;}
.navwcon{background:#d2dbe4; height:20px;  padding-left:2px;}
.navwcon b{ color:#1e4976; text-align:left;}
.navwcon b img{margin-top:7px; margin-right:10px;}

.blue5{ color:#74c9ff; font-style:normal; font-size:12px; font-weight:normal;}
/*Times ascent page ends 21 nov 2008*/


/*Times ascent Right Panel starts 22 nov 2008 RHS*/
.red{ color:#df3e34;}
.blck2{ color:#262626; font-size:11px;}

/* common element */
.jobmes, .prvset{ margin:0 2px 0 2px;   }
.jobmes h2, .prvset h2, .searchjob h2{ font-size:18px; color:#000; padding-bottom:4px; border-bottom:1px #d3d3d3 solid; font-weight:normal;;}
.jobmes b, .prvset b, .searchjob b{  color:#000;}
.jobmes a, .prvset a{color:#005bcc;}
.jobmes .padd1, .prvset .padd1{ padding-top:4px; padding-left:14px;}
.jobmes .sep, .prvset .sep{ margin-top:7px; border-bottom:1px #d8d8d8 solid; }
.jobmes ul, .prvset  ul  {list-style-type:none;}
.jobmes li, .prvset  li{ padding-left:14px; background:url(/images_cand/tj_images/images/sprite_srch.gif) -72px -120px  no-repeat;}/*bullet.gif*/
/* common element end */

/* prvset mess start */
.prvset .pbul { position:relative; top:4px; }
.prvset {color:#565656;}
.prvset .mrgnm{ margin-top:-4px;}
.prvset .cate{ margin-left:14px; line-height:12px;}
.prvset .cate ul{list-style-type:none;}
.prvset .cate ul li{ padding:4px 0 4px 18px; background:url(/images_cand/tj_images/images/bul-r.gif) no-repeat top left;   }
/* prvset mess end */
/*Times ascent Right Panel ends 22 nov 2008*/

/* search layer */
.sidlayer{ position:absolute;  margin-top:2px; #margin-top:2px; width:216px; #width:223px; color:#262626; background:#f6f6f6; border-bottom:1px #9c9c9c solid; border-left:1px #9c9c9c solid;  border-right:1px #9c9c9c solid; display:none;}




.sidlcon{ margin:7px;}
.sidlcon input{color:#656363;}
.sidlcon select{font-size:12px;}
.sidlcon p{clear:both;}
.sidlcon .stx{font-size:10px;}

/* end search layer */

/* start of POUP's 24 nov 2008*/
.popup_top{background:url(/images_cand/tj_images/images/sprite_rep_srch.gif) 0 -197px repeat-x; height:35px; width:500px; background:#000;}/*popup-bg.gif*/
.popup_top .midres{float:left;}
.popup_top h2{float:left; font-size:18px; color:#fff;  margin:6px; width:250px; }
.popup_top .navser{ float:left; }
.popup_top .navser ul{list-style-type:none;}
.popup_top .navser  li{ float:left; font-size:10px; padding:7px 0 0 0; text-transform:uppercase;}
.popup_top .navser li a{ color:#005bcc; font-size:10px; padding:0 6px 0 6px;}


.popup_content{ border:1px solid #0072c1; border-top:0; color:#262626;padding:10px; width:478px;}
.popup_content p{  width:415px;}
.popup_content label{ font-weight:bold;}
.popup_content .txt{ width:215px;}

.popup_content .btn_div{ width:100px; margin-left:169px;}
/* end of POPUP's*/
.auto_sugg {position:absolute;  background:#fff; border:1px solid #9c9c9c;  _margin-left:5px; #margin-left:5px;  margin-top:-1px; display:none;}
.c_name_blk{#margin-left:0px;}
.auto_sugg ul{width:154px; _width:161px; #width:161px; list-style:none;}
.auto_sugg ul.c_name{width:264px;  #width:270px;}
.auto_sugg ul li{padding:2px; border-top:1px solid #e4e4e4;}


.loca{_margin-left:0px; #margin-left:0px;}
.loca ul{width:112px; _width:119px; #width:119px;}
.goback{width:200px; float:right; text-align:right; padding-top:10px;}
.goback a{ color:#fff; font-size:11px; font-weight:bold;}

.cls_img {position:absolute;  margin-left:-30px;}

/**-----------autosuggestion CSS---------------**/
.suggestionList{margin:0px 0px 0px 1px;padding:0px; border:1px solid #789fbe; text-align:left;background:#fff url(/images_cand/tj_images/images/sprite_rep_srch.gif) 0 -730px repeat;z-index: 12; width:450px;}/*bgimage.jpg*/
.autoIframe{background:#fff url(/images_cand/tj_images/images/sprite_rep_srch.gif) 0 -378px repeat;width:auto; height:270px;position:absolute;filter: progid:DXImageTransform.Microsoft.Alpha(style=0, opacity=0);z-index:9;}/*bgimage.jpg*/
.suggestionList ul{padding:2px 0px 2px 2px;text-align:left;list-style-type:none;width:auto;}
.suggestionList ul li{border-bottom:1px solid #d1d8de;text-align:left; height:20px;}
.suggestionList ul li b{color:#0033CC;}
.suggestionList a{text-decoration:none;color:#000;font-weight:normal;}
.suggestionList .selected{background:#095cc2;color:white;}
.suggestionList .selected a{color:white;}
.suggestionList .unselected a{cursor:text;}
#autosuggest{display:none;}
.loader{background-image:url(/images_cand/tj_images/images/throbber.gif);background-repeat:no-repeat;background-position:100% 3px;}
.animated_loader{background-image:url(/images_cand/tj_images/images/throbber.gif);background-repeat:no-repeat;background-position:100% -17px;}
.loader2{background-image:url(/images_cand/tj_images/images/throbber2.gif);background-repeat:no-repeat;background-position:100% 3px;background-attachment: fixed;}
.animated_loader2{background-image:url(/images_cand/tj_images/images/throbber1.gif); background-repeat:no-repeat;background-position:100% 3px;background-attachment: fixed;}



.hint_div{width:180px;  display:none; position:absolute; margin-top:-8px; margin-left:-10px; z-index:99999;}
.hint_txt{background:#fffff5 url(/images_cand/tj_images/images/sprite_rep_srch.gif) 0 -1301px  repeat-y; width:180px; height:auto;}/*help_txt_bdM.gif*/
.hint_txt p{padding:10px; color:#1e4976; line-height:17px; font-size:11px;border-right:2px solid #C0C0C0;border-left:2px solid #C0C0C0;}
.hint_txt p b{color:#1e4976;}
.mrgn4{ margin-left:2px; _margin-left:2px; margin-right:4px; _margin-right:1px;}

/*-----Newely Added class[06-12-08]-----*/

.err_top{height:4px;	background:url(/images_cand/tj_images/images/sprite_rep_srch.gif) 0 -403px repeat-x top;}/*err_t_bg.gif*/
.hd{background:#ffefef; border:1px solid #e0e0e0;  padding:4px 4px 4px 10px; color:#000; font:bold 18px arial;}
.err_txt{color:#e1483f; font:bold 14px arial; padding:5px 0 0;}
.mid ul.tips{line-height:22px; list-style-type:square; padding-left:0px;color:#000; margin:0 0 0 25px}

/*-----Added by asif from employer for multi select--------*/

.blue_text{ color: #0684c0; } 
.blue_text a{ color: #095cc2; text-decoration: none; font-size: 12px; }
.blue_text a:hover{ color: #095cc2; text-decoration: underline; font-size: 12px; }
.multiselectdiv{position:absolute;height:189px; margin-left:0px; width:370px;border:1px solid #7b9ebe;z-index:10;background:url(/images_cand/tj_images/images/sprite_rep_srch.gif) 0 -730px #fff;display:none;}/*bgimage.jpg*/
.multiselectdiv ul{font-family:12px Trebuchet MS;list-style:none; margin-left:5px;}
.multiselectdiv ul li{height:25px;}
.paddingdivleft ul{list-style:none;padding-left:20px;}
.paddingdivleft ul li{height:20px;}
.listborder{margin:0px; padding-left:2px;border:1px solid #7b9ebe; width:210px; height:20px; background:#fff; color:#777; width:210px; #width:210px; margin-right:10px;}

.listborderh{margin:0px; padding-left:2px;border:1px solid #7b9ebe; width:210px;height:22px; background:#fff; color:#777; margin-left:0px; _margin-left:10px; width:210px; #width:210px; margin-right:10px;}

.myIframe{height:195px;width:370px;position:absolute;z-index:9;display:none;}
.helptxt{color:#555;font:12px; border:0px;width:190px;height:16px;text-align:left;background:#FFF;}

.u_resume {float:left; width:125px; padding-top:4px;}
.u_resume a{color:#bdcad7; text-decoration:underline; font:normal 11px arial; padding-left:10px; line-height:22px;}
.u_resume a:hover{text-decoration:none;}






/* Logout Page starts charu dated 11 dec 08 */
.y_hbmode{ width:100%; }
/* left block */
.br_div{width:100%; font:normal 11px ; background-color:#fafafa;}
.y_hbmode .top{height:4px; background:url(/images_cand/tj_images/images/sprite_rep_srch.gif) 0 -414px  repeat-x;}/*br-linetop.gif*/
.y_hbmode .bot { height:4px; background:url(/images_cand/tj_images/images/sprite_rep_srch.gif) 0 -426px  repeat-x;}/*br-linebot.gif*/
.y_hbmode .mid {padding:5px; background:#fafafa; border-left:1px #e0e0e0 solid; border-right:1px #e0e0e0 solid;}
.y_hbmode .heading{ color:#333333; font-size:14px; font-weight:bold; }
.y_hbmode ul{ padding:8px 15px; list-style-type:none; list-style-image:url(/images_cand/tj_images/images/sprite_srch.gif) ; color:#252525;line-height:18px;}
.sep2{border-bottom:2px solid #D8D8D8;margin-top:7px;}
.tj_cr{ color:#000; width:345px;}
.tj_crp{ margin-top:10px; line-height:19px; padding-left:5px;}

.cate ul{list-style-type:none; }
.cate ul li{ padding:4px 0 4px 18px; background:url(/images_cand/tj_images/images/bul-right.gif) no-repeat left;}
.cat ul {list-style-type:none; color:#262626;}
.cat li{ padding-left:14px; background: url(/images_cand/tj_images/images/sprite_srch.gif) 0 -121px no-repeat ;}/*bul-grt.gif*/

.tj_crul{ list-style-type:none;}
.tj_crul li{ float:left; margin-left:5px;}

/* block head start */
.block{margin:2px 0 0 0;}
.block .blockhead{ background:#1e4976 repeat-x; height:35px;}
.block .blockhead .corl{background:url(/images_cand/tj_images/images/sprite_srch.gif) 0 0  no-repeat; width:8px; height:33px;}/*block-head-cor-l.gif*/
.block .blockhead .midr{float:left; width:680px; }
.block .blockhead .corr{background:url(/images_cand/tj_images/images/block-head-cor-r.gif) no-repeat right; width:8px; height:33px;}
.block .blockhead h2{ padding-top:7px; font-size:18px; color:#fff; width:500px;}
.block .blockhead h2.pdb{padding-bottom:0px;}
.block .blockhead .rsec{padding-top:0px; margin-top:4px;}

/* block head end */

.myser{width:99%; color:#262626; margin:0 auto; background:#f6f8fa;}
.mysercon {width:99%; padding-left:10px;}
.mysercon .padlr{padding-left:18px;text-align:left;}
.mysercon .mress {margin-left:1px;}
.mysercon .mress, .reszapp{ float:left; width:335px;}
.mysercon .mress ul{list-style-type:none;}
.mysercon .mress li{ background:url(/images_cand/tj_images/images/sprite_srch.gif) -193px -159px  no-repeat; padding-left:22px; line-height:24px;}/*bul-r.gif*/
.mysercon .mr{margin-right:15px; _margin-right:10px;}
.mysercon .mress h4, .reszapp h4{ font-size:18px; color:#59789c; font-weight:normal; padding:0 0 0 5px;}
.mysercon .mress dfn, .reszapp dfn{font-style:normal; color:#0072dc;}
.mysercon .mress span{font-style:normal; color:#a10808;}
.mysercon .reszapp span{font-style:normal; color:#dc9600;}
.mysercon .reszapp ul{list-style-type:none;}
.mysercon .reszapp li{ background:url(/images_cand/tj_images/images/bul-r.gif) no-repeat; padding-left:22px; line-height:24px;}/*bul-r.gif*/
.mysercon .mrl10{margin-left:10px;}
.mysercon .mrl20{margin-left:20px;}
.mysercon .wbox{ width:99%; height:25px; border:1px #ccc solid;}
.mysercon .wbox .srv{ float:left; width:200px; font-weight:bold;}
.mysercon .wbox .sf{ float:left; width:100px; padding-left:10px; }
.mysercon .wbox .ac{ float:left; width:100px; padding-left:10px; }
/* Logout Page ends charu dated 11 dec 08 */


/* Best consult zone start */
.b_conzone{ margin:0 2px 0 2px;}
.b_conzone h2{ font-size:18px; color:#000; padding-bottom:4px; border-bottom:1px #d3d3d3 solid; font-weight:normal;}
.b_conzone .mes{ font-size:11px;}
.b_conzone ul{ list-style-type:none;}
.b_conzone ul li{color:#000; line-height:22px;}
.b_conzone .small_txt{font:normal 11px arial}

/* Best consult zone end */

/* Blue Background in block starts */
.cres{ width:100%;  color:#000; _margin-top:5px;}
.bg {background:#eff2f5;}
.bgch {background:#e8ecf0;}
.cres h2{font-size:18px; color:#000;}
.cres .top{ height:10px;}
.cres .bottom{ height:10px;}
.cres .dar{ position:relative; top:0px; #top:5px; _top:5px;}

/* Blue Background in block ends */

.mr_col{color:#A10808;}
.rz_col{color:#DC9600;}


.blue_col{ color:#015e9f;}
.red_col{ color:#dc291e;}
.try_txt{ color:#262626; font-weight:bold; font-size:11px;}

/*search list higligting classes added*/

.job_chk{margin-right: 5px; _margin-right: 2px; float:left;}

.job_hdtxt{float:left; padding-top: 0px; #margin-left:-2px; #margin-top:2px; font-size:13px}
.job_hdtxt strong{color:#005BCC;}

/*job detail page*/
.f12{font-size:12px;}
.txt_padd05{padding-left:10px;}

/* cluster css */
.clhead{ padding:10px 0 5px 5px;}
.clfir{ float:left; width:250px; margin:5px; }
.clsec{ float:left; width:225px; margin:5px; }
.clth{ float:left; width:200px; _width:185px; margin:5px; }
.clfbox{ float:left; width:240px; border:1px #dfdfdf solid; height:52px; overflow:auto; padding:5px}
.clsbox{ float:left; width:215px; border:1px #dfdfdf solid; height:52px; overflow:auto; padding:5px}
.cltbox{ float:left; width:190px; _width:175px; border:1px #dfdfdf solid; height:52px; overflow:auto; padding:5px}


/* career services block starts */
.pcs{background:url(/images_cand/tj_images/pltm_img/premium_ban_bg.gif) no-repeat top right; height:80px; font:bold 13px arial; color:#546302; padding:10px 0 0 8px}/*premium_ban_bg.gif*/
.gr_rounded{ width:100%;}
.gr_rounded .top{ background:url(/images_cand/tj_images/images/sprite_rep_srch.gif) 0 -392px repeat-x scroll; height:4px;}/*pltm_img/gr_top.gif*/
.gr_rounded .mid{border-left:1px solid #E0E0E0;border-right:1px solid #E0E0E0; background:transparent url(/images_cand/tj_images/images/sprite_rep_srch.gif) 0 -1005px repeat-x scroll ; height:260px; #height:264px}/*pltm_img/gr_mid.gif*/
.gr_rounded .bot{background:transparent url(/images_cand/tj_images/images/sprite_rep_srch.gif) 0 -378px  repeat-x scroll ; height:4px;}/*pltm_img/gr_bot.gif*/

.premium_ul{padding:5px 0  0 8px; margin:0; font:bold 12px arial; color:#546302;  list-style:none; }

.premium_ul li{margin:5px 0 ; #margin:0px; }
.premium_ul li a{margin:5px 0; #margin:0px; color:#546302; text-decoration:none;}

.combo em{font-style:normal;}
.combo{font:bold 12px arial;}
.combo .red{color:#ec0506; }
.combo .dred{color:#a10808; }

.combo .blue{color:#0072dc;}
.combo .brown{color:#dc9600;}
.combo .dblue{color:#002e59;}
/* career services block starts */

/*Search Optimization by Charu*/
.bor{border:1px solid #cecece; padding:5px; background:#fff}
.search_ico{ background:url(/images_cand/tj_images/images/sprite_srch.gif) -280px -221px  no-repeat;  float:left;padding:6px 11px 6px 6px; }/*search-ico.gif*/
.alert_ico{ background:url(/images_cand/tj_images/images/sprite_srch.gif) -75px -221px no-repeat;  float:left;padding:16px 37px 7px 0px;}/*alert-ico.gif*/
.toolbar_ico{background:url(/images_cand/tj_images/images/sprite_srch.gif) -280px 0 no-repeat;  float:left;padding:16px 37px 7px 0px;}/*toolbar-ico.gif*/
.npaper_ico{background:url(/images_cand/tj_images/images/sprite_srch.gif) -201px -447px  no-repeat;  float:left;padding:16px 37px 7px 0px;}/*npaper-ico.gif*/
.times_ascent_logo{background:url(/images_cand/tj_images/images/sprite_srch.gif) -346px -398px no-repeat; padding:0px 64px 0px 10px}/*times-ascent-logo.gif*/
.mobile_job_ico{background:url(/images_cand/tj_images/images/sprite_srch.gif) -75px -447px no-repeat;  float:left;padding:16px 37px 7px 0px;}/*mobile-job-ico.gif*/
.rss_feed_ico{background:url(/images_cand/tj_images/images/sprite_srch.gif) -13px -398px  no-repeat;  float:left;padding:16px 37px 7px 0px;}/*rss-feed-ico.gif*/
.search_icon{background:url(/images_cand/tj_images/images/sprite_srch.gif) -346px -489px  no-repeat;  float:left;padding:16px 37px 7px 0px;}/*search_icon.gif*/
.icn_shelp{background:url(/images_cand/tj_images/images/sprite_srch.gif) -75px -348px  no-repeat;  float:left;padding:16px 37px 7px 0px;}/*icn-shelp.gif*/
.ssbtn{background:url(/images_cand/tj_images/images/sprite_srch.gif) -346px -120px no-repeat; border:0 none;height:25px;width:62px;}/*btn-searchf.gif*/
.info_icn{background:url(/images_cand/tj_images/images/sprite_srch.gif) -201px -277px no-repeat; margin:0 0 0 7px;padding:0 0 0 15px;}/*info_icn.gif*/
.assist_corner_up{background:url(/images_cand/tj_images/images/sprite_srch.gif) -280px -277px no-repeat; _background:none; margin:0 0 0 248px; #margin:0 0 0 228px;padding:0 15px 0 0;#padding:0 15px 0 0;position:relative;top:-14px;}/*assist_corner_up.gif*/

.darrow1{background:url(/images_cand/tj_images/images/sprite_srch.gif) -348px -350px no-repeat;margin:0 0 0 -151px;padding:2px 4px 0 2px;#margin:0 0 0 20px;}/*darrow.gif*/
.istan_corr{background:url(/images_cand/tj_images/images/sprite_srch.gif) -338px -223px  no-repeat; _background:url(/images_cand/tj_images/images/sprite_srch.gif) -334px -228px  no-repeat;width:66px; height:27px;padding:0 50px 10px 19px;line-height:21px;}/*istan_corr.gif*/
.pscal1{ background:#F1F9BE; border:1px solid #D6D6D7;height:33px;line-height:33px;text-align:center;}
.block_arr_d{background:url(/images_cand/tj_images/images/sprite_srch.gif) -346px -271px no-repeat; padding:0 0 0 5px;}/*block-arr-d.gif*/
.block_arr3{background:url(/images_cand/tj_images/images/sprite_srch.gif) 0 50% no-repeat; padding:0 0 0 5px;}/*block-arr3d.gif*/

.icn_post{background:url(/images_cand/tj_images/images/sprite_srch.gif) -75px -277px  no-repeat; padding:5px 0 3px 20px;line-height:25px;}/*icn-post.gif*/
.btn_arrow{background:url(/images_cand/tj_images/images/sprite_srch.gif) -280px -349px  no-repeat; padding:3px 0 3px 13px;}/*btn_arrow.gif*/

/*.icn_viewed{background:url(/images_cand/tj_images/images/sprite_srch.gif) -152px -221px  no-repeat; padding:0 0 3px 15px;}icn-right.gif*/
.icn_view{background:url(/images_cand/tj_images/images/sprite_srch.gif) -152px -349px  no-repeat; padding:0 7px 3px 15px;}/*icn-view.gif*/
.icn_impact{background:url(/images_cand/tj_images/images/sprite_srch.gif) -13px -277px  no-repeat; padding:0 7px 5px 15px;line-height:18px;}/*icn-impact.gif*/

.search{ width:980px; margin:0 auto;}
.srch_head{border:1px solid #E2E2E3; background:#F9FAFC;}
#companySearch{border:1px solid #E2E2E3;}
.icn_search{background:url(/images_cand/tj_images/images/sprite_srch.gif) -201px -221px no-repeat;padding:0 11px 0 6px;}/*icn-search.gif*/
.block_arr2{background:url(/images_cand/tj_images/images/sprite_srch.gif) -76px -572px no-repeat; left:22px;_left:12px;padding:0 0 0 13px;_padding:0 5px 0 13px;position:relative;top:14px;_top:22px;}/*block-arr2.gif*/
.icn_remove{background:url(/images_cand/tj_images/images/sprite_srch.gif) -152px -277px no-repeat;float:right;padding:0 5px 0 3px;}/*icn-remove.gif*/

.message_post{background:url(/images_cand/tj_images/images/sprite_srch.gif) -346px 0  no-repeat; padding:0 11px 0 6px;}/*message_post.gif*/
.icn_print1{background:url(/images_cand/tj_images/images/sprite_srch.gif) -201px -349px no-repeat; padding:0 11px 0 6px;}/*icn-print1.gif*/
.icn_research{background:url(/images_cand/tj_images/images/sprite_srch.gif) -13px -349px  no-repeat; padding:0 11px 0 6px;}/*icn-research.gif*/
.icn_right{background:url(/images_cand/tj_images/images/sprite_srch.gif) -152px -221px  no-repeat;padding:0 0 2px 17px;line-height:18px;}/*icn-right.gif*/
.atchmnt{background:url(/images_cand/tj_images/images/sprite_srch.gif) -346px -445px no-repeat; padding:0 11px 0 6px;}/*attachment.gif*/
.doc{background:url(/images_cand/tj_images/images/sprite_srch.gif) -14px -448px no-repeat; padding:0 11px 0 6px;}/*doc.gif*/
.beta{background:url(/images_cand/tj_images/images/sprite_srch.gif) -280px -447px no-repeat; padding:0 23px 0 6px;}/*beta.gif*/
.save_job{background:url(/images_cand/tj_images/images/sprite_srch.gif) -145px -447px no-repeat; padding:0 23px 0 6px;}/*save_job.jpg*/


/* search result widget css */
.srch_wd{border:1px #d8d8d8 solid; width:690px; background:#fffdf4; padding:5px;}
.srch_wd h2{background:#fffdf1; font-size:18px; font-weight:normal; color:#000000; font-family:Georgia, "Times New Roman", Times, serif;  padding:5px; }
.jal_icn{ width:45px; float:left; margin-top:10px;}
.srch_wd .tcont{ width:630px; float:right; color:#333333;}
.dotln{background:url(/images_cand/tj_images/images/dot_ln.gif) repeat-x left top; margin-top:10px;  }
.txt_contrl{ width:220px; float:left; margin-left:0px; color:#262626; _width:180px;}
/*.txt_contrl input{margin:0 !important; padding:0 !important; width:200px; _margin-right:10px;}*/
.txt_contrl .txt_inp{ width:200px; _width:180px; margin-left:0px;}

/* new jd css */
.jdCon{ padding:10px; color:#333333;}
.jdCon h1{ font-size:18px; color:#e07a00; font-weight:bold;}
.jdCon h2{ font-size:18px; color:#e07a00; font-weight:bold;}
.jdCon h3{ font-size:14px; color:#000; font-weight:normal; padding-bottom:4px; border-bottom:2px #d6ae22 solid; font-weight:bold;}
.jdCon h3 span{ font-size:14px; color:#000; font-weight:normal; padding-bottom:4px; border-bottom:2px #d6ae22 solid; }
.jdCon span{ color:#333333;font-size: 14px; font-weight: bold;}
.const_Info{   }
.const_Info .mrgn_t5{ margin-top:5px;}
.const_Info .ctxt { width:575px; margin-left:10px;}
.dot_sep{background:url(/images_cand/tj_images/images/jd_dotbg.gif) 0 0 repeat-x; height:1px; overflow:hidden;margin:10px 0; }
.cons_ybut{ background:url(/images_cand/tj_images/images/cns_butbg.gif) 0 0 repeat-x; border:1px #f3d900 solid; }
.cons_gbut{ background:url(/images_cand/tj_images/images/gr_butbg.gif) 0 0 repeat-x; border:1px #d0d0d0 solid;}
.cons_ybut a{ font-weight:bold; color:#000;}
.appw{ width:115px; text-align:center; height:22px; line-height:22px;}
.loow{width:115px; text-align:center; height:22px; line-height:22px;}
.grbw{width:170px; text-align:center; height:22px; line-height:22px;}

.mrauto{margin:10px auto 0;}
.jdinfo {margin:10px 0 10px 0;}
.jdinfo label{ width:90px; float:left; font-weight:bold; text-align:left; padding-right:10px;}
.jdbrb{ border-bottom:1px #ebebeb solid;  padding:4px 0;}
.jdbot_sec{ background:#f9f9f9; border-top:1px #e0e0e0 solid; padding:20px 10px 20px 10px;}

.jdRecjob .mrgn_t10{ font-size:13px;line-height: 17px;}
.jdRecjob h2{ font-size:18px; border-bottom:1px #d3d3d3 solid; font-weight:normal; padding-bottom:5px;}
.alignR{text-align:right;}
.tjpro h2{ font-size:18px; color:#000; border-bottom:1px #d3d3d3 solid; font-weight:normal; padding-bottom:5px;}
.tjpro h2 span{ color:#ff0101;}
.prf{color:#555555;}
.jba_ban{ background:#fffdf3; border:1px #e0e0e0 solid; margin-top:10px;}
.jba_cnt{border-left:1px #e0e0e0 solid; width:530px; float:left;  padding:5px; font-family:Georgia, "Times New Roman", Times, serif; font-size:18px; color:#000;}
.jba_cnt .clro{ color:#e07a00;}
.ul_link{ text-decoration:none; }
.lnh18{line-height:18px;}
.jdhead_tsec{width:485px;font-size:13px;}
.jdlog_sec{ width:200px; text-align:center;}

.jd_uattben{ background:#f9f9f9; border:1px solid #E0E0E0;  color:#333333}
.jd_uattben h2{ font-size:18px; color:#000; border-bottom:1px #d3d3d3 solid; font-weight:normal; padding:5px;}
.jd_uattben h2 span{ color:#ff0101;}
.jd_uattben ul{margin:10px 0 0 10px;}
.jd_uattben li {  background:url(/images_cand/tj_images/images/jd_bull.gif) left no-repeat; list-style-type:none; padding-left:10px; height:29px;}
.jd_uattben ul li ul{margin:0px;}
.jd_uattben .botcont{ background:#fffdf3; padding:5px; border-top:1px #d8d8d8 solid;}


.jd_uattben1{ background:#f9f9f9; border:1px solid #E0E0E0;  color:#333333}
.jd_uattben1 h2{ font-size:18px; color:#000; border-bottom:1px #d3d3d3 solid; font-weight:normal; padding:5px;}
.jd_uattben1 h2 span{ color:#ff0101;}
.jd_uattben1 ul{margin:10px 0 0 10px;}
.jd_uattben1 li {  background:url(/images_cand/tj_images/images/jd_bull.gif) 0px 5px no-repeat; list-style-type:none; padding-left:10px; height:29px;}
.jd_uattben1 ul li ul{margin:0px;}
.jd_uattben1 .botcont{ background:#fffdf3; padding:5px; border-top:1px #d8d8d8 solid;}
li.jd_inlst{padding:0; margin:0; background:none; height:20px; position:relative; top:-10px; padding-left:10px;}

.jdpadd{padding:5px;}

/*By Charu For JD Page*/
.icon_viewright{ float:left; padding:4px 0 0 0; }  
.job_info{ float:left; margin: 6px 0 10px;}
.job_info .green{ color:#38AB32; font-size:14px;}
.jd_val{ float:left;width:78%; word-wrap:break-word;}
.errMSG{background:none repeat scroll 0 0 #FF0000;color:#FFFFFF;font-size:14px;font-weight:bold;padding:6px;}
.r_lbl{ float:left; width:118px;}
.r_det{ display:block;float:left; width:105px;}
.mrgn_t3{ margin-top:3px;}
.mrgn_jobli{ margin:8px 0 0 8px; word-wrap:break-word;}
.font13{ font-size:13px;}
.bor_bg{ background:#efefef; padding:6px;}
/*Job Confirmation Page @author:Charu*/
.jc_info{ float:left; color:#000;width:665px; }
.jc_info .jc_list{margin:0 0 10px 0;}
.jc_info .jc_list ul{margin:10px 0 0 0;}
.jc_info .sep{border-bottom:1px dashed #999999; margin:0;}
.jc_info .jc_list  li{/*background:url(/images_cand/tj_images/images/jd_bull.gif) left no-repeat; */list-style-type:none; padding:0 0 10px 10px; color:#000; /*border-bottom:1px dashed #999999;*/}
.jc_info .green_head{ color:#018000; font-size:16px; display:block; padding:5px 0 0 0;}

.saveL{float:left;width:45px; font-weight: bold;margin:10px 0 0 14px;}
.saveR{float:left;margin:10px 0 0  5px}

.row_fl{ float:left;text-align:right;width:100px;}
.row_fr{ float:left;margin-left:5px;}
.confirm_msg{color:#060;display:block;font-size:13px;margin:10px 0 0 10px;}

.const_Info .mrgn_t2{ margin-top:4px;}

/* new class for co_info right panel on job details page*/
.outer_lft{ float:left; width:460px; margin-right:10px; word-wrap:break-word;}
.outer_rt{width:215px; float:right;}
.ourtwrapper{width:212px; background:#efefef; border:1px solid #efefef;}
.co_wrapper{ border:1px solid #cfcfcf; height:100%; margin:4px; background:#fff;}
.co_wrapper .logo img{width:200px;}
.cl{ clear:both;}
.co_nm{}
.co_nm .hd{font-size:18px; text-align:center; padding:10px 0px 0px 0px; color:#000; background:none; border:none; background:url(/images_cand/tj_images/images/nm_bg.jpg) repeat-x 0 100%;}
.logo{ padding:5px 0px;}
.information{ font-size:12px; text-align:left; padding:5px 10px; color:#000;}
.information b{}
.information b.none{ border:none;}
.information a{ color:#0161bc; text-decoration:none;}
.information a:hover{ color:#000; text-decoration:none;}
.pad5{padding:7px 0px 0px 0px; display:block;}
.sep_bor{color:#f00; border-bottom:1px solid #e3e3e3; margin:3px 0px;}
.loc_map{ color:#03F; font-size:11px; font-weight:bold;}
.loc_map a{color:#03F; font-size:12px; text-decoration:underline;}
.loc_map a:hover{color:#03F; text-decoration:none;}

ol{margin:0 0 0 20px; padding:0;}

/*----------JOB DETAIL CSS-----------*/

.jd_lhs{width:245px; padding:10px 15px 10px 10px; word-wrap:break-word;}
.jd_lhs a,.jd_lhs a:hover{text-decoration:none !important; color:#000} 
.jdInner{background:#fff; padding:15px;  margin:0 12px 12px;}
.jd_rhs{width:595px; padding:10px 0 10px 15px; color:#000; min-height:530px; word-wrap:break-word;}
.jd_rhs td{width:595px; word-wrap:break-word; display:block;}
.jd_rhs ol{ margin-left:10px!important;}
.jd_rhs ul{ margin-left:0px!important;}
.jdHead{margin:0 12px 0; padding-top:12px; padding-bottom:12px; background:#F5F5F5 url(/images_cand/tj_images/jd_images/jd_mainBG.gif) no-repeat 50% 100%;}
.jdOuter{border:1px solid #dbeaf9; background:url(/images_cand/tj_images/jd_images/jd_BG.gif) repeat 0 0; font:normal 12px Arial, Helvetica, sans-serif; padding:10px;}
.jdMid{background:#f5f5f5; border:6px solid #bedaea;}
.jdProfile{color:#a71105; background:url(/images_cand/tj_images/jd_images/jobTip.gif) no-repeat 0 0; display:block; padding:15px 10px 30px; font-size:14px; font-weight:bold;}
.jd_lhs ul li{font-size:12px; color:#000; padding:10px 0 0px;}
.jd_lhs ul li .li_HD{font-weight:bold; background:#2697f5; color:#fff; padding:1px 3px; font-size:11px;}
.jobTitle{width:502px; padding:0 10px 0 20px; line-height:22px; color:#000;}
.jobTitle h1{font-size:22px;}
.noBG{background:none !important;}
.posrel{position:relative;}
.apply{width:169px; text-align:center; margin-right:20px;}
.applyBtn{display:block; width:169px; margin-bottom:10px;}
.hta{text-decoration:none; border-bottom:1px dotted #000; display:inline-block; cursor:help;}

.htaBlk{position:absolute; display:block; right:-50px; top:25px; text-align: left; background:#e5f0f9; border:2px solid #57aff7; padding:10px; color:#000; width:250px; display:none; font-size:12px;}
.htaBlk li{margin-bottom:3px;}
.htaTip{position:absolute; right:75px; top:-13px;}
.jd_comp{font-size:16px;}


.jd_inner{border:5px solid #f9d6cf; padding:10px; line-height:18px}
.mrgn_l10{margin-left:10px}
.jd_HD{font-size:20px; font-weight:bold;  color:#333; border-bottom:1px solid #e5e5e5; padding:0 0 6px; margin:0 0 10px}
.jdUL{width:100%;}
.jdUL li{display:block; border-bottom:1px solid #e1e1e1; padding:3px 0;}
.jdUL li label{display:inline-block; vertical-align:top; width:95px}
.jdUL li .jdSpan{display:inline-block; width:520px; vertical-align:top}

.mrgn_b15{margin-bottom:15px !important;}
.consult_job{background:url(/images_cand/tj_images/images/consultant.gif) no-repeat 100% 50%;}
.consult_job_JD{background:url(/images_cand/tj_images/jd_images/consultant.gif) no-repeat 100% 50%;}
.company_job{background:url(/images_cand/tj_images/images/company.gif) no-repeat 100% 50%;}
.blueBot_BG{background:#fff; padding:10px; color:#d4ecfa; margin:15px 0 0}
.blue_HD{font:bold 13px Arial, Helvetica, sans-serif; color:#fff; margin:0 0 10px}
.blueBot_HD{color:#000; font-size:20px;}
.blueBot_BG a, .blueBot_BG a:hover{color:#005BCC; }
.blueBot_BG ul li a, .blueBot_BG ul li a:hover, .recmJobs ul li a, .recmJobs ul li a:hover{background:url(/images_cand/tj_images/jd_images/blueBot_tip.gif) no-repeat 0 5px; padding:0 0 0 13px; color:#005bcc; display:inline-block;}
.recmJobs ul li a, .recmJobs ul li a:hover{line-height:13px;}
.blueBot_BG li, .recmJobs ul li{padding:0 0 5px; float:left; width:212px; margin-right:10px}
.sim_Jobs, .jobsLast_Post{width:450px; padding:0 10px;}
.gryBrdr{border:4px solid #f0f0f0; margin:0 10px 20px;}
.shareBlk{background:url(/images_cand/tj_images/jd_images/shareBG.gif) repeat-x 0 0; border:1px solid #e8e8e8; height:55px; padding:0 10px}
.disBlk{display:block;}
.FndJbs{color:#fff; background:#2697f5; display:inline-block; padding:3px; font-size:12px;}
.jobPst_rt{border-left:1px solid #ddd; padding-right:0;}
.pad_b5{padding-bottom:5px;}
.mrgn_t8{margin-top:5px;}
.jbMid_BG{background:url(/images_cand/tj_images/jd_images/jdMid_BG.gif) repeat-y 270px 0;}
.jdHead_place{display:none; background:#F5F5F5; margin:12px;}
.jdHeadPos{position:fixed; top:0 !important; margin:0 12px !important; width:922px !important; padding-top:12px !important;}
.lh18{line-height:18px;}
.recmJobs{position:fixed; right:-264px; top:55%;  border:2px solid #ffc024; border-right:0; background:#fff; box-shadow: 0px 0px 3px 0px #999; -moz-box-shadow: 0px 0px 3px 0px #999; -webkit-box-shadow: 0px 0px 3px 0px #999; border-radius:5px 0 0 5px; -moz-border-radius:5px 0 0 5px; -webkit-border-radius:5px 0 0 5px;}
.recmOuter{width:240px; height:auto; padding:10px; color:#000}
.recmJobsIMG{cursor:pointer; position:absolute; left:-32px; top:25%; display:inline-block; width:30px; height:79px; background:url(/images_cand/tj_images/jd_images/jobs_btn.gif) no-repeat 0 0;}
.recmJobsIMGLess{background:url(/images_cand/tj_images/jd_images/jobs_btn_less.gif) no-repeat 0 0 !important;}
.save_job_btn{ background:url("/images_cand/tj_images/jd_images/save_job.gif") no-repeat; height: 25px;    margin-right: 3px; padding:6px 6px 6px 8px; width:70px; display:inline-block; font-weight:bold;}
.pad_b15{padding-bottom:15px;}
.htaOuter{font-size:11px; position:relative; padding-bottom:15px; display:inline-block}
.w140{width:140px;}

.confirm{ width:710px;}
.pro_res b{ color:#6fad3f; font-size:18px; font-weight:normal;}
.pro_res{ width:250px; padding:8px 8px 8px 0px; color:#7f7f7f;}

/* classes for new SEO page */
/* classes for new SEO page */
.alert_recmJobs{top:18% !important; }
.recmJobs{position:fixed; right:-264px; top:55%;  border:2px solid #ffc024; border-right:0; background:#fff; box-shadow: 0px 0px 3px 0px #999; -moz-box-shadow: 0px 0px 3px 0px #999; -webkit-box-shadow: 0px 0px 3px 0px #999; border-radius:5px 0 0 5px; -moz-border-radius:5px 0 0 5px; -webkit-border-radius:5px 0 0 5px;}
.alert_recmJobsIMG{cursor:pointer; position:absolute; left:-32px; top:10%; display:inline-block; width:30px; height:203px; background:url(/images_cand/tj_images/jd_images/alert_jobs_btn.gif) no-repeat 0 0;}
.alert_recmJobsIMGLess{background:url(/images_cand/tj_images/jd_images/alert_jobs_btn_less.gif) no-repeat 0 0 !important;}
