<div class="indent">
  <h2>Contact us</h2>
  <form id='formId' class='zpForm' action="" enctype="multipart/form-data" method="post">
    <div id='errOutput' class="errOutput"></div>
    <div class="zpFormContent">
      <fieldset>
        <legend>Personal details</legend>
         <label class="zpFormLabel">Your name</label>
         <input name="name" type="text" class="zpFormRequired zpFormRequiredError='Please\ enter\ your\ name.'" id="name" value="{$name}" maxlength="150"/>{$job_title_error}
        <br  class="clear" />
        <br  class="clear" />         
        <label class="zpFormLabel">Your email</label>
        <input name="email" value="{$email}" type="text" class="zpFormRequired zpFormRequiredError='Please\ enter\ email\ address. zpFormEmail zpFormEmailError='Please\ enter\ a\ valid\ email\ address.'" maxlength="255"/>
        {$email_error} <br  class="clear" />
        <br  class="clear" />

        <label class="zpFormLabel">Mobile</label>
        <input name="mobile_no"  value="{$mobile_no}" type="text" class="zpFormRequired zpFormRequiredError='Please\ enter\ your\ mobile\ number.' zpFormMask='0000000000' zpFormMaskError='Please\ enter\ correct\ 10\ digit\ mobile\ number.'" maxlength="20"/>
        {$mobile_no_error} <br  class="clear" />
        <br  class="clear" />
        <label class="zpFormLabel">Landline</label>
        <input name="ll_phone_no" value="{$ll_phone_no}" type="text" class="zpFormMask='(+91)-0000-0000000' zpFormMaskError='Please\ enter\ correct\ landline\number.'" maxlength="20" />{$LL_error} 
        
        <br  class="clear" />
        <br  class="clear" />           
        
        <label class="zpFormLabel">What best describe you</label>
        <select name="contact_person_is" class="zpFormRequired zpFormRequiredError='Please\ select\ what\ best\ describe\ you.'">
          {foreach from=$listBestDescribe item=describe}
          <option value="{$describe}" {if $describe==$contact_person_is} selected="selected"{/if}>{if $describe==''}--select one--{else}{$describe}{/if}</option>
          {/foreach}
        </select>{$describe_error}
        <br  class="clear" />
        <br  class="clear" />

<div class="zpFormDisplayWhen=showOtherDescribe">
          <label class="zpFormLabel">Enter Other City</label>
          <input name="other_describe"  value="{$other_describe}" type="text" class="zpFormRequired zpFormRequiredError='Please\ enter\ what\ best\ describe\ you.'" maxlength="13"/>{$other_describe_error} 
          <br  class="clear" />
          <br  class="clear" />
        </div>
<div class="zpFormDisplayWhen=showIfCompany">  
        <label class="zpFormLabel">Company name</label>
        <input name="company_name" type="text" class="zpFormRequired zpFormRequiredError='Please\ enter\ your\ name.'" id="company_name" value="{$company_name}" maxlength="200"/>
        {$company_name_error} <br  class="clear" />
        <br  class="clear" />
               
        <label class="zpFormLabel">Office Address</label>
        <textarea name="office_address" rows="8" cols="80" class="zpFormRequired zpFormRequiredError='Please\ enter\ your\ office\ address.' zpFormMinLength=20 zpFormMaxLength=512 ">{$office_address}</textarea>{$office_address_error}
          <br  class="clear" />
          <br  class="clear" />
 </div>        
        
        <label class="zpFormLabel">Your message<span>Enter your quries or general message here</span></label>
        <textarea name="text_message" rows="8" cols="80" class="zpFormRequired zpFormRequiredError='Please\ enter\ your\ message.' zpFormMinLength=30 zpFormMaxLength=1024 ">{$text_message}</textarea>
           <br  class="clear" />
          <br  class="clear" />       
        <label class="zpFormLabel">&nbsp;</label>
        <input type="submit" value="Send Message" />        
      </fieldset>
  
  <label class="zpFormLabel">Office Address</label>
  <div>H-23-A, Office No. 203, 2nd Floor, Kamal Tower,<br />
  Near Sai Baba Mandir, Vijay Chowk, Vikas Marg, Laxmi Nagar,
  Delhi-92.
</div>
  <label class="zpFormLabel">Contact number</label>
  <div>011-45629750<br />
  +919711897500
</div>
    </div>
  </form>
</div>
<script type="text/javascript">
function showOtherDescribe(){
	return ($('select[name="contact_person_is"]').find(':selected').text().indexOf('Other')!=-1);
}
function showIfCompany(){
	return ($('select[name="contact_person_is"]').find(':selected').text().indexOf('company')!=-1);
}

</script>