<div class="indent1">
				<h2 class="h2-bg1">Recently posted jobs</h2>
				<div class="wrapper">
					<article class="col-1 col-indent">
						<ul class="date-list">
							{if $Has_Recentlypostedjobs}
                            	{foreach from=$Recentlypostedjobs_list item=eachjob}
                            <li>
								{if $eachjob.imagepath}
                                <img SRC="{$eachjob.imagepath}" alt="" />
                                {/if}
								<a href="{$eachjob.joblink}">{$eachjob.jobtitle}</a>
								<strong>{$eachjob.jobdesc}</strong>
								<div>
									<span class="text_1"><strong>Location:</strong> <span>{$eachjob.location}</span></span>
									<span class="text_2"><strong>Posted on:</strong> <span>{$eachjob.postdate}</span></span>
								</div>
							</li>
                            {/foreach}
                            {else}
                            <li>
								No Jobs posted yet
							</li>                            
                            {/if}
							
						</ul>
					</article>
					<article class="col-1">
						<ul class="date-list">
							{if $Has_Recentlypostedjobs2}
                            	{foreach from=$Recentlypostedjobs_list2 item=eachjob2}
                            <li>
								{if $eachjob2.imagepath}
                                <img SRC="{$eachjob2.imagepath}" alt="" />
                                {/if}
								<a href="{$eachjob2.joblink}">{$eachjob2.jobtitle}</a>
								<strong>{$eachjob2.jobdesc}</strong>
								<div>
									<span class="text_1"><strong>Location:</strong> <span>{$eachjob2.location}</span></span>
									<span class="text_2"><strong>Posted on:</strong> <span>{$eachjob2.postdate}</span></span>
								</div>
							</li>
                            {/foreach}
                            {else}
                            <li>
								No Jobs posted yet
							</li>                            
                            {/if}
						</ul>
					</article>
				</div>
				<div class="line-hor"><div class="alignright"><a href="#" class="link">view all posted jobs</a></div></div>
				<h2 class="h2-bg3">Job Search Tools</h2>
				<div class="container">
					<article class="col-2 col-indent1 margin-left">
						<ul class="list_1">
							<li>
								<img SRC="images/page1-img8.jpg" alt="" />
								<a href="#">Distribute Your Resume</a>
								<span>We can get your resume out 78% faster</span>
							</li>
							<li>
								<img SRC="images/page1-img9.jpg" alt="" />
								<a href="#">Free Resume Critique</a>
								<span>Does your resume need to be improved?</span>
							</li>
						</ul>
					</article>
					<article class="col-2 col-indent2">
						<ul class="list_1">
							<li>
								<img SRC="images/page1-img10.jpg" alt="" />
								<a href="#">Free Career Quiz</a>
								<span>What career is right for you?</span>
							</li>
							<li>
								<img SRC="images/page1-img11.jpg" alt="" />
								<a href="#">Free Salary Calculator</a>
								<span>What career is right for you?</span>
							</li>
						</ul>
					</article>
					<article class="col-2">
						<ul class="list_1">
							<li>
								<img SRC="images/page1-img12.jpg" alt="" />
								<a href="#">Career Advice</a>
								<span>What career is right for you?</span>
							</li>
							<li>
								<img SRC="images/page1-img13.jpg" alt="" />
								<a href="#">Free Career Quiz</a>
								<span>What career is right for you?</span>
							</li>
						</ul>
					</article>
					<div class="clear"></div>
				</div>
				<div class="line-hor"><div class="alignright"><a href="#" class="link">more job search tools</a></div></div>
				<h2 class="h2-bg4">Careers by Category</h2>
				<div class="wrapper">
                    	{foreach key=id item=con from=$results}
                            {if $id==0 && ($id % 5) == 0}
                            <article class="col-3 col-indent1">
                                <ul class="list">
                             {/if}   
                             {if $id!=0}
                                    <li><a href="listjob.php?cat_id={$id}">{$con.industryname}</a></li>
                             {/if}
							{if $id!=0 && ($id % 5) == 0}              
                                </ul>
                            </article>
                            <article class="col-3 col-indent1">
                                <ul class="list">                            
                           {/if}
						{/foreach}         
                   
				</div>
				<div class="alignright"><a href="#" class="link">all categories</a></div>
			</div>