<!DOCTYPE html>
<html lang="en">
<head>
<title>{$title}</title>
<meta charset="utf-8">
<link rel="stylesheet" href="css/reset.css" type="text/css" media="screen">
<link rel="stylesheet" href="css/style.css" type="text/css" media="screen">
<link rel="stylesheet" href="css/layout.css" type="text/css" media="screen">
<link rel="stylesheet" href="css/autoSuggest.css" type="text/css" media="screen">
<script type="text/javascript" SRC="js/jquery-1.4.2.min.js" ></script>  
<script type="text/javascript" SRC="js/imagepreloader.js"></script>
<script type="text/javascript" SRC="js/waterDrop.jquery.js"></script>
<script type="text/javascript" SRC="js/jqautosuggest/jquery.autoSuggest.js"></script>
<script type="text/javascript" async>
$(document).ready(function(e) {
    $("#home").waterDrop();
	$("#searchjob").waterDrop();
	$("#postresume").waterDrop();
	$("#postjob").waterDrop();
	$("#contactus").waterDrop();

	$("input[name='keywords']").autoSuggest("ajax/getkeywords.php",{asHtmlID:'keywords',startText:'Keywords (comma separated)'{$more_options_kw}});
	$("input[name='location']").autoSuggest("ajax/getlocation.php",{asHtmlID:'location',startText:'Locations'{$more_options_loc}});
});
</script>
<script type="text/javascript">
	preloadImages([
		'images/nav-tail.gif', 
		'images/nav-right.gif', 
		'images/nav-left.gif', 
		'images/SearchForm-a-bg-hover.jpg', 
		'images/checkbox-active.gif']);
</script>   
<script type="text/javascript" SRC="js/jquery.jqtransform.js"></script>{$custom_header_content}
</head>
<body id="page1"><!--#include virtual="topnav.html" -->
	<!-- header -->
	<header>
		<div class="main">
			<div class="container">
				<h1><a href="{$logo_link}">{$logo_text}</a></h1>
                
				<div class="social">
                	{if !$is_login}
                    <span>Jobseeker's <a href="{$LoginLink}">Login</a> | <a href="{$RegCandidateLink}">Upload Resume</a></span>
                    {/if}
                    <a href="{$RssLink}"><img SRC="images/rss.jpg" alt="" /></a>
					<!--<a href="{$FbLink}"><img SRC="images/facebook.jpg" alt="" /></a>
<div id="social-icons">
<a href="https://twitter.com/YOUR_USER_NAME"><img src="YOUR_IMAGE_URL" width="48" height="48" alt="Twitter" /></a>
<a href="http://feeds.feedburner.com/YOUR_FEED_URL"><img src="YOUR_IMAGE_URL" width="48" height="48" alt="RSS" /></a>
<a href="http://www.linkedin.com/in/YOUR_DISPLAY_NAME"><img src="YOUR_IMAGE_URL" width="48" height="48" alt="LinkedIn" /></a>
<a href="http://www.facebook.com/prashant.singh.507464"><img src="images/facebook.jpg" width="48" height="48" alt="Facebook" /></a>
</div>               -->    
<!-- Facebook Like + Count (light version) -->
<div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#appId=245406032159496&xfbml=1"></script><fb:like href="http://www.t2xplore.com" send="false" layout="button_count" width="100" show_faces="false" font="arial"></fb:like> 
				</div>
				<div class="clear"></div>
			</div>
            <div class="slogan" style="position:relative"><div class="sloganText">{$SlogalText}</div></div>
			<!--#include virtual="navigation.html" -->
			{if $bShowSearchForm}
			<!--#include virtual="searchform.html" -->
            {/if}
		</div>
	</header>
	<!-- content -->
	<section id="content">
		<div class="main">
        {$Sucess_message}{$Error_message}
			{$PageContent}
		</div>
	</section>
	<!-- footer -->
	<!--#include virtual="footer.html" -->
    {$custom_footer_content}
</body>
</html>
