<style>
.jdtittle {
    background: none repeat scroll 0 0 #FFFFFF;
    float: left;
    font: 11px Arial,Helvetica,sans-serif;
    padding: 0 0 0 12px;
    width: 740px;
}
.jdtittle h1 {
    color: #6a0000;
    display: block;
    float: left;
    font: bold 20px/19px Arial,Helvetica,sans-serif;
    margin: 0;
    padding: 0;
    width: 500px;
}
.jdtittle em {
    color: #999999;
    display: block;
    float: left;
    font-style: normal;
    width: 400px;
}

.white {
    background: none repeat scroll 0 0 #FFFFFF;
}
.right_log {
    float: right;
    margin: 5px 0 0;
    padding: 0 21px 0 0;
    text-align: right;
    width: 225px;
}
.jdtittle .right_log {
    padding: 0 5px 0 0;
    width: 230px;
}
.jobrequirment {
    float: left;
    padding: 0 0 0 9px;
    width: 740px;
}
.jobrequirment1 {
    background: url("images/gradient.gif") repeat-x scroll 0 -155px transparent;
    color: #6a0000;
    float: left;
    font: bold 13px Arial,Helvetica,sans-serif;
    height: 22px;
    padding: 9px 0 0;
    width: 725px;
}
.jobrequirment2 {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #E4E4E4;
    border-left: 1px solid #E4E4E4;
    border-right: 1px solid #E4E4E4;
    border-style: none solid;
    border-width: 0 1px;
    margin: 0 0 0 1px;
    padding: 0 0 0 10px;
    width: 727px;
}
.jobrequirment_bottom {
    height: 10px;
}
.jobrequirment_bottom_left {
    background: url("images/main.png") repeat scroll -3px -627px transparent;
    float: left;
    height: 10px;
    width: 14px;
}
.jobrequirment_bottom_mid {
    border-bottom: 1px solid #E4E4E4;
    float: left;
    height: 7px;
    width: 715px;
}
.jobrequirment_bottom_mid2 {
    float: left;
    padding: 3px 0 0;
    width: 720px;
}
ul.jobrequirment_bottom_mid2 {
    width: 500px;
}
.jobrequirment_bottom_mid1 {
    float: left;
    padding: 3px 0;
    width: 550px;
}
.jobrequirment_bottom_mid1 strong {
    float: left;
    padding: 0 10px 0 0;
    width: 170px;
}
.jobrequirment_bottom_mid1 i {
    float: left;
    font-style: normal;
    text-align: left;
    width: 360px;
}
.jobrequirment2 .job_desc_img {
    width: 150px;
}
.jobrequirment_bottom_mid1 li {
    overflow: hidden;
}
.jobrequirment_bottom_right {
    background: url("images/main.png") repeat scroll -540px -627px transparent;
    float: left;
    height: 10px;
    width: 11px;
}
.job_logo {
    float: right;
    text-align: center;
    width: 189px;
}
.jobdescription {
    float: left;
    padding: 0;
    width: 744px;
}
.jobdescription1 {
    background: url("images/gradient.gif") repeat-x scroll 0 -155px transparent;
    color: #6a0000;
    float: left;
    font: bold 12px Arial,Helvetica,sans-serif;
    height: 31px;
    padding: 9px 0 0;
    width: 718px;
}
.jd_inside {
    float: left;
    line-height: 18px;
    padding: 0 15px;
    width: 680px;
}
.jd_inside li {
    background: url("images/orangebullet1.gif") no-repeat scroll 0 5px transparent;
    display: block;
    float: left;
    padding: 0 0 0 10px;
    width: 700px;
}
.grey_button {
    background:url(images/button07_small.png) no-repeat;
    border: 0 none;
    color: #FFFFFF;
    float: right;
    font: bold 13px Arial,Helvetica,sans-serif;
    margin: 0 5px 0 0;
    padding: 2px 4px;
	height:25px;
}
.grey_button a {
    color: #FFFFFF;
	text-decoration: none;
}
.grey_button a:hover {
    color: #FFFFFF;
    text-decoration: none;
}

.jobs_search_mid ul {
    float: left;
    margin-top: 5px;
    width: 350px;
}
.jobs_search_mid li {
    color: #999999;
    display: block;
    font: 11px Arial,Helvetica,sans-serif;
    padding: 2px 0;
}
.jobs_search_mid li a {
    background: url("images/greenbullet.gif") no-repeat scroll 2px 6px transparent;
    display: block;
    font: 12px Arial,Helvetica,sans-serif;
    padding: 0 0 0 10px;
    text-decoration: none;
}
.jobs_search_mid li a:hover {
    background: url("images/orangebullet.gif") no-repeat scroll 2px 6px transparent;
    text-decoration: underline;
}
.jobs_search_mid li a b {
    color: #999999;
    font: 12px Arial,Helvetica,sans-serif;
    padding-left: 2px;
}
.jobs_search_mid li a:hover b {
    color: #6a0000;
    font: 12px Arial,Helvetica,sans-serif;
    padding-left: 2px;
}
.jobs_search_mid li strong {
    color: #6a0000;
    font: bold 12px Arial,Helvetica,sans-serif;
}
.jobs_search_mid li em {
    font-style: normal;
    padding: 0 0 0 10px;
}
.job_headmidleft {
    background: url("images/main.png") no-repeat scroll 0 -150px transparent;
    float: left;
    height: 31px;
    width: 13px;
}
.job_headmidright {
    background: url("images/main.png") no-repeat scroll -14px -150px transparent;
    float: left;
    height: 31px;
    width: 2px;
}
.jobs_search_bottom {
    background: url("images/main.png") no-repeat scroll -1px -252px transparent;
    height: 10px;
}
.bottom_links {
    border-top: 1px solid #E4E4E4;
    float: left;
    margin: 0 0 0 10px;
    padding: 0 0 5px 5px;
    width: 700px;
}
.bottom_links u a {
    border-right: 1px solid #E4E4E4;
    float: left;
    padding: 5px 7px;
    text-decoration: none;
}
.bottom_links u a:hover {
    text-decoration: underline;
}
.bottom_links .right_log {
    margin: 8px 0 0;
}

.jobs_details_headleft {
    background: url("images/main.png") no-repeat scroll 0 -40px transparent;
    float: left;
    height: 31px;
    width: 13px;
}
.jobs_details_headmid {
    background: url("images/gradient.gif") repeat-x scroll 0 -155px transparent;
    color: #FF8C00;
    float: left;
    font: bold 12px Arial,Helvetica,sans-serif;
    height: 31px;
    padding: 9px 0 0;
    width: 719px;
}
.jobs_details_headright {
    background: url("images/main.png") no-repeat scroll -14px -40px transparent;
    float: left;
    height: 31px;
    width: 10px;
}

</style>
<div class="indent1">
				
				<div class="wrapper">
					<article class="fullwidth">
                    {foreach from=$job_details item=eachjob}
<div class="jdtittle white">
  <div class="right_log">
    <div class="btn_0">
    {if $IsLoggedIn}
    	 <span class="grey_button"><a href="apply.php?jobid={$eachjob.id}" onclick="">Apply this Job</a></span>
    {else}
    <span class="grey_button"><a href="login.php?redirecturl={$redirectURL}" onclick="">Login to Apply</a></span>
    <span class="grey_button"><a href="registration.php?redirecturl={$redirectURL}" onclick="">Join &amp; Apply</a></span>
    {/if}
    </div>
    </div>
  </div>
  <h1><span itemprop="title">{$eachjob.jobtitle}</span>, <span itemprop="hiringOrganization" itemscope="" itemtype="http://schema.org/Organization"><span itemprop="name">{$eachjob.company_name}</span></span></h1>
  <em>Posted: <span itemprop="datePosted">{$eachjob.postdate}</span></em>
<div class="jobrequirment">
  <div class="job_headmidleft"></div>
  <div class="jobrequirment1">Job Details</div>
  <div class="job_headmidright"></div>
  <div class="jobrequirment2">
    <div class="job_desc_img floatright"></div>
    <ul class="jobrequirment_bottom_mid2">
      <li class="jobrequirment_bottom_mid1"><strong>Area of Work</strong><i title="General / Other Software"><span itemprop="occupationalCategory">{$eachjob.functional_area}</span></i></li>
      <li class="jobrequirment_bottom_mid1"><strong>Industry</strong><i title="IT - Software"><span itemprop="industry">{$eachjob.industry}</span></i></li>
      <li class="jobrequirment_bottom_mid1"><strong>Role</strong><i title="IT - Software"><span itemprop="industry">{$eachjob.job_role}</span></i></li>
      <li class="jobrequirment_bottom_mid1"><strong>Location</strong><i title="Delhi"><span itemprop="jobLocation" itemscope="" itemtype="http://schema.org/Place"><span itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">{$eachjob.location}</span></span></i></li>
      <li class="jobrequirment_bottom_mid1"><strong>Experience</strong><i title="&lt;1 - 1 Yr "><span itemprop="experienceRequirements">{$eachjob.desired_experience}</span></i></li>
      <li class="jobrequirment_bottom_mid1"><strong>Job Type</strong><i><span itemprop="employmentType">{$eachjob.jobtype}</span></i></li>
      <li class="jobrequirment_bottom_mid1"><strong>Salary</strong><i><span itemprop="baseSalary">{$eachjob.salaryrange}</span></i></li>
    </ul>
    <div class="clear"></div>
  </div>
  <div class="jobrequirment_bottom">
    <div class="jobrequirment_bottom_left"></div>
    <div class="jobrequirment_bottom_mid clearfont">&nbsp;</div>
    <div class="jobrequirment_bottom_right"></div>
  </div>
  <div class="jobdescription">
    <div class="clear1 clearfont">&nbsp;</div>
    <div class="jobs_details_headleft"></div>
    <div class="jobdescription1">Job Description</div>
    <div class="jobs_details_headright"></div>
    <div class="jd_inside"><span itemprop="description">
     <p>{$eachjob.jobdesc}</p>
      </span></div>

  </div>
  <div class="clear white" style="height:20px;"></div>
  <div style="text-align:center"></div>
</div>

<div class="jobrequirment">
  <div class="job_headmidleft"></div>
  <div class="jobrequirment1">Company Details</div>
  <div class="job_headmidright"></div>
  <div class="jobrequirment2">
    <div class="job_desc_img floatright"></div>
    <ul class="jobrequirment_bottom_mid2">
      <li class="jobrequirment_bottom_mid1"><strong>Company Name</strong><i title="{$eachjob.company_name}"><span itemprop="occupationalCategory">{$eachjob.company_name}</span></i></li>
      <li class="jobrequirment_bottom_mid1"><strong>Contact Name</strong><i title="{$eachjob.contact_name}"><span itemprop="name">{$eachjob.contact_name}</span></i>
      <li class="jobrequirment_bottom_mid1"><strong>Contact email</strong><i title="{$eachjob.contact_email}"><span itemprop="email">{$eachjob.contact_email}</span></i></li>
      <li class="jobrequirment_bottom_mid1"><strong>Contact Mobile</strong><i title="{$eachjob.contact_email}"><span itemprop="mobile">{$eachjob.contact_mobile}</span></i></li>
      <li class="jobrequirment_bottom_mid1"><strong>Contact Landline</strong><i title="{$eachjob.contact_landline}"><span itemprop="landline">{$eachjob.contact_landline}</span></i></li>      
      <li class="jobrequirment_bottom_mid1"><strong>Business Location</strong><i title="{$eachjob.business_location}"><span itemprop="jobLocation" itemscope="" itemtype="http://schema.org/Place"><span itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">{$eachjob.business_location}</span></span></i></li>
      
      <li class="jobrequirment_bottom_mid1"><strong>Office Address</strong><i title="{$eachjob.office_address}"><span itemprop="jobAddress" itemscope="" itemtype="http://schema.org/Place"><span itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">{$eachjob.office_address}</span></span></i></li>
    </ul>
    <div class="clear"></div>
  </div>
  <div class="jobrequirment_bottom">
    <div class="jobrequirment_bottom_left"></div>
    <div class="jobrequirment_bottom_mid clearfont">&nbsp;</div>
    <div class="jobrequirment_bottom_right"></div>
    


    <div class="clear1 clearfont">&nbsp;</div>
    <div class="bottom_links"><u><a href="#" target="_blank">Similar Jobs</a></u><u><a href="#">All Jobs by this recruiter</a></u><u><a href="#" name="552155" class="cls_email">Email</a></u><u><a href="#" class="share_jd cls_shared_jd" style="border-right:none;"><span class="floatleft">Share</span><span class="dropdown_arrow">&nbsp;</span></a><span class="share_div cls_shared_hover_jd disable"><a class="cls_ga_track share_viral share_fb" id="facebook_552155" href="#" target="_blank"></a><a class="cls_ga_track share_viral share_tw" id="twitter_552155" href="#" target="_blank"></a><a class="cls_ga_track share_viral share_ln" id="linkedin_552155" href="#" target="_blank"></a></span></u>
      <div class="right_log" style="padding-right:0px;">
        <div class="btn_0">    {if $IsLoggedIn}
    	 <span class="grey_button"><a href="apply.php?jobid={$eachjob.id}" onclick="">Apply this Job</a></span>
    {else}
    <span class="grey_button"><a href="login.php?redirecturl={$redirectURL}" onclick="">Login to Apply</a></span>
    <span class="grey_button"><a href="registration.php?redirecturl={$redirectURL}" onclick="">Join &amp; Apply</a></span>
    {/if}</div>
      </div>
    </div>      
  </div>
    <div class="clear white" style="height:20px;"></div>
  <div style="text-align:center"></div>
</div>
				{/foreach}
</article>

				</div>
				<!--<div class="line-hor"><div class="alignright"><a href="#" class="link">view all posted jobs</a></div></div>-->
				<h2 class="h2-bg3">Job Search Tools</h2>
				<div class="container">
					<article class="col-2 col-indent1 margin-left">
						<ul class="list_1">
							<li>
								<img SRC="images/page1-img8.jpg" alt="" />
								<a href="#">Distribute Your Resume</a>
								<span>We can get your resume out 78% faster</span>
							</li>
							<li>
								<img SRC="images/page1-img9.jpg" alt="" />
								<a href="#">Free Resume Critique</a>
								<span>Does your resume need to be improved?</span>
							</li>
						</ul>
					</article>
					<article class="col-2 col-indent2">
						<ul class="list_1">
							<li>
								<img SRC="images/page1-img10.jpg" alt="" />
								<a href="#">Free Career Quiz</a>
								<span>What career is right for you?</span>
							</li>
							<li>
								<img SRC="images/page1-img11.jpg" alt="" />
								<a href="#">Free Salary Calculator</a>
								<span>What career is right for you?</span>
							</li>
						</ul>
					</article>
					<article class="col-2">
						<ul class="list_1">
							<li>
								<img SRC="images/page1-img12.jpg" alt="" />
								<a href="#">Career Advice</a>
								<span>What career is right for you?</span>
							</li>
							<li>
								<img SRC="images/page1-img13.jpg" alt="" />
								<a href="#">Free Career Quiz</a>
								<span>What career is right for you?</span>
							</li>
						</ul>
					</article>
					<div class="clear"></div>
				</div>
				<div class="line-hor"><div class="alignright"><a href="#" class="link">more job search tools</a></div></div>
				<h2 class="h2-bg4">Careers by Category</h2>
				<div class="wrapper">
					<article class="col-3 col-indent1">
						<ul class="list">
							<li><a href="#">Accounting</a></li>
							<li><a href="#">Admin &amp; Clerical</a></li>
							<li><a href="#">Contract &amp; Freelance</a></li>
							<li><a href="#">Banking &amp; Finance</a></li>
							<li><a href="#">Business Opportunities</a></li>
						</ul>
					</article>
					<article class="col-3 col-indent1">
						<ul class="list">
							<li><a href="#">College &amp; Internships</a></li>
							<li><a href="#">Customer Service</a></li>
							<li><a href="#">Diversity Opportunities</a></li>
							<li><a href="#">Engineering</a></li>
							<li><a href="#">Executive</a></li>
						</ul>
					</article>
					<article class="col-4 col-indent2">
						<ul class="list">
							<li><a href="#">Franchise</a></li>
							<li><a href="#">Government</a></li>
							<li><a href="#">Health Care</a></li>
							<li><a href="#">Hospitality</a></li>
							<li><a href="#">Human Resources</a></li>
						</ul>
					</article>
					<article class="col-3">
						<ul class="list">
							<li><a href="#">Information Technology</a></li>
							<li><a href="#">Manufacturing</a></li>
							<li><a href="#">Nonprofit</a></li>
							<li><a href="#">Part Time</a></li>
							<li><a href="#">Retail</a></li>
						</ul>
					</article>
				</div>
				<div class="alignright"><a href="#" class="link">all categories</a></div>
			</div>