<div class="indent">
  <h2>Post your classified job for free</h2>
  <form id='formId' class='zpForm' action="" enctype="multipart/form-data" method="post">
    <div id='errOutput' class="errOutput"></div>
    <div class="zpFormContent">
      <fieldset>
        <legend>Job information</legend>
         <label class="zpFormLabel">Job Title</label>
         <input name="job_title" type="text" class="zpFormRequired zpFormRequiredError='Please\ enter\ job\ title.'" id="contact_name" value="{$job_title}" maxlength="150"/>{$job_title_error}
        <br  class="clear" />
        <br  class="clear" />         
        <label class="zpFormLabel">Industry</label>
        <select name="current_industry" class="zpFormRequired zpFormRequiredError='Please\ enter\ your\ current\ industry.'">
          {foreach from=$listCurrentIndustries item=industry}
          <option value="{$industry.id}" {if $industry.id==$current_industry} selected="selected"{/if}>{if $industry.industryname==''}--select industry--{else}{$industry.industryname}{/if}</option>
          {/foreach}
        </select>
        {$current_industry_error} <br  class="clear" />
        <br  class="clear" />
        <label class="zpFormLabel">Functional area</label>
        <select name="job_function" class="zpFormRequired zpFormRequiredError='Please\ select\ your\ job\ function.'">
          {foreach from=$listJobFunctions item=jobfunction}
          <option value="{$jobfunction.id}" {if $jobfunction.id==$job_function} selected="selected"{/if}>{if $jobfunction.areaname==''}--select functional area--{else}{$jobfunction.areaname}{/if}</option>
          {/foreach}
        </select>
        {$job_function_error}
        <br  class="clear" />
        <br  class="clear" />
        <label class="zpFormLabel">Job role</label>
        <select name="job_role" id="job_role" class="zpFormRequired zpFormRequiredError='Please\ select\ preferred\ job\ role.'">
          <option value="">--- Select job ---</option>
        </select>
        {$job_function_error}
        <br  class="clear" />
        <br  class="clear" />        
        <label class="zpFormLabel">Contact name</label>
        <input name="contact_name" type="text" class="zpFormRequired zpFormRequiredError='Please\ enter\ your\ name.'" id="contact_name" value="{$contact_name}" maxlength="200"/>
        {$contact_name_error} <br  class="clear" />
        <br  class="clear" />
        <label class="zpFormLabel">Company name</label>
        <input name="company_name" type="text" class="zpFormRequired zpFormRequiredError='Please\ enter\ your\ name.'" id="company_name" value="{$company_name}" maxlength="200"/>
        {$company_name_error} <br  class="clear" />
        <br  class="clear" />
        <label class="zpFormLabel">Position type</label>
        <select class="zpFormRequired" id="employmenttype" name="employmenttype">
          <option value="">--Select--</option>
          <option selected="selected" value="1" label="Permanent">Permanent</option>
          <option value="2" label="Temporary/Contractual">Temporary/Contractual</option>
          <option value="3" label="Freelancer">Freelancer</option>
        </select>
        {$position_type_error} <br  class="clear" />
        <br  class="clear" />
        <label class="zpFormLabel">Desired  experience </label>
        <select name="experience_range" id="experience_range" class="zpFormRequired zpFormRequiredError='Please\ select\ your\ required\ experience.'">
          {foreach from=$listExpYY item=yy}
          <option value="{if $yy!='-select-'}{$yy}{/if}" {if $yy==$experience_Y} selected="selected"{/if}>{$yy}</option>
          {/foreach}
        </select>
        
        <br  class="clear" />
        <br  class="clear" />
        <label class="zpFormLabel">Offering salary<span>Select range you can offer</span></label>
        <select name="salary_range" id="salary_range" class="zpFormRequired zpFormRequiredError='Please\ select\ salary\ range.'">
          {foreach from=$listSalary item=ss}
          <option value="{if $ss!='-select-'}{$ss}{/if}" {if $ss==$salary_range}selected="selected"{/if}>{$ss}</option>
          {/foreach}
        </select>
        <br  class="clear" />
        <br  class="clear" />
        <label class="zpFormLabel">Job Location<span>Multi choice</span></label>
        <select name="job_location[]" class="zpFormRequired zpFormRequiredError='Please\ select\ your\ job\ location.'" multiple="multiple" size="10">
          {foreach from=$listCurrentLocation key=idx item=cloc}
          {if $idx!=0}
              {if $cloc.type=='optgroup'}
                <optgroup label="{$cloc.name}">
              {else}
                <option value="{$cloc.id}" {if $cloc.id==$job_location.idx} selected="selected"{/if}>{$cloc.name}</option>
              {/if}
              {if $cloc.type=='optgroup'}
                </optgroup>
              {/if}
          {/if}
          {/foreach}
        </select>
        {$job_location_error} <br  class="clear" />
        <br  class="clear" />
        <div class="zpFormDisplayWhen=showOtherCity">
          <label class="zpFormLabel">Enter Other City</label>
          <input name="other_city"  value="{$other_city}" type="text" class="zpFormRequired zpFormRequiredError='Please\ enter\ your\ city.'" maxlength="13"/>
          {$other_city_error} <br  class="clear" />
          <br  class="clear" />
        </div>
        <label class="zpFormLabel">Describe requirements<span>Comma separated</span></label>
        <textarea name="job_requirements" rows="8" cols="80" class="zpFormRequired zpFormRequiredError='Please\ enter\ job\ requirements.' zpFormMinLength=20 zpFormMaxLength=255 ">{$job_requirements}</textarea>
      </fieldset>
      
      <fieldset>
        <legend>Account Information</legend>
        <label class="zpFormLabel">Existing employer of T2Xplore? </label>
        <input type="radio" name="account_exists" value="Yes"  {if $account_exists=='Yes'}checked="checked"{/if}/>
        Yes
        <input type="radio" name="account_exists" value="No" {if !$account_exists OR $account_exists=='No'}checked="checked"{/if}/>
        No
      </fieldset>
            
      <fieldset class="zpFormDisplayWhen=CheckAccountNotExists">

        <legend> Contact Details</legend>
        <label class="zpFormLabel">Email</label>
        <input name="contact_email" value="{$contact_email}" type="text" class="zpFormRequired zpFormRequiredError='Please\ enter\ contact\ email\ address. zpFormEmail zpFormEmailError='Please\ enter\ a\ valid\ contact\ email\ address.'" maxlength="255"/>
        {$contact_email_error} <br  class="clear" />
        <br  class="clear" />
        <label class="zpFormLabel">Mobile</label>
        <input name="mobile_no"  value="{$mobile_no}" type="text" class="zpFormRequired zpFormRequiredError='Please\ enter\ your\ mobile\ number.' zpFormMask='+91-0000000000' zpFormMaskError='Please\ enter\ correct\ mobile\ number.'" maxlength="20"/>
        {$mobile_no_error} <br  class="clear" />
        <br  class="clear" />
        <label class="zpFormLabel">Landline</label>
        <input name="ll_phone_no" value="{$ll_phone_no}" type="text" class="zpFormRequired zpFormRequiredError='Please\ enter\ a\ landline\ number.' zpFormMask='(+91)-0000-0000000' zpFormMaskError='Please\ enter\ correct\ landline\number.'" maxlength="20" />
        {$LL_error} <br  class="clear" />
        <br  class="clear" />
        <label class="zpFormLabel">Business  location</label>
        <select name="current_location" class="zpFormRequired zpFormRequiredError='Please\ select\ your\ current\ location.'">
          
               {foreach from=$listCurrentLocation item=cloc}{if $cloc.type=='optgroup'}
          <optgroup label="{$cloc.name}">{else}
          <option value="{$cloc.id}" {if $cloc.id==$current_location} selected="selected"{/if}>{if $cloc.name==''}--select current location--{else}{$cloc.name}{/if}</option>
          {/if}{if $cloc.type=='optgroup'}</optgroup>
          {/if}{/foreach}
        </select>
        {$current_location_error} <br  class="clear" />
        <br  class="clear" />
        <label class="zpFormLabel">Office Address</label>
        <textarea name="office_address" rows="8" cols="80" class="zpFormRequired zpFormRequiredError='Please\ enter\ your\ key\ skills.' zpFormMinLength=20 zpFormMaxLength=255 ">{$office_address}</textarea>
        {$keyskills_error}
      </fieldset>

      <fieldset class="zpFormDisplayWhen=CheckAccountExists">
        <legend> Enter your account details</legend>
        <label class="zpFormLabel">Login Email</label>
        <input name="login_email" value="{$login_email}" type="text" class="input zpFormRequired zpFormRequiredError='Please\ enter\ login\ email\ address. zpFormEmail zpFormEmailError='Please\ enter\ a\ valid\ login\ email\ address.'" maxlength="255"/>
        {$login_email_error} <br  class="clear" />
        <br  class="clear" />
        <label class="zpFormLabel">Login Password</label>
        <input name="login_password" type="password" class="zpFormRequired zpFormRequiredError='Please\ enter\ your\ login\ password.' zpFormMinLength=4 zpFormMaxLength=12" maxlength="200"/>
        {$login_password_error} <br  class="clear" />
      </fieldset>
      <fieldset class="zpFormDisplayWhen=CheckAccountNotExists">
        <legend> Enter Login Details</legend>
        <label class="zpFormLabel">Email</label>
        <input name="email" value="{$email}" type="text" class="zpFormRequired zpFormRequiredError='Please\ enter\ email\ address. zpFormEmail zpFormEmailError='Please\ enter\ a\ valid\ email\ address.' zpFormValidate='ajax/validate.php'" maxlength="255"/>
        {$email_error} <br  class="clear" />
        <br  class="clear" />
        <label class="zpFormLabel">Password</label>
        <input name="password" type="password" class="zpFormRequired zpFormRequiredError='Please\ enter\ your\ password.' zpFormMinLength=4 zpFormMaxLength=12" maxlength="200"/>
        {$password_error} <br  class="clear" />
        <br  class="clear" />
        <label class="zpFormLabel">Confirm Password</label>
        <input  name="re-password" type="password" class="zpFormRequired zpFormRequiredError='Please\ enter\ confirm\ password.'" maxlength="200"/>
        {$re-password_error}
      </fieldset>
      <fieldset>
        <legend>Post Job</legend>
        <!--            <br  class="clear" />                                 
            <label class="zpFormLabel">Upload Logo File</label>
            <input name="document_file" type="file" class="zpFormRequired zpFormRequiredError='Please\ upload\ your\ resume\ file.'"/>{$document_file_error}<span>Supported Formats: doc, docx, rtf. Max file size: 300 Kb</span>
   	        <br  class="clear" />
            <br  class="clear" />-->
        <label class="zpFormLabel">&nbsp;</label>
        <input type="submit" value="Post your free classified job" />
      </fieldset>
    </div>
  </form>
</div>
<script type="text/javascript">
var Request1=null;
jQuery(document).ready(function() {
 	$("select[name='job_function']").change(function(e) {
	if(Request1!=null)
	{
		if(Request1.readyState != 4)
		{
			Request1.abort();
			//$("#debug_window").append('Request1 aborted.<br>');
		}
	}
	Request1=$.ajax({
	   type: "GET",
	   url: "ajax.php?action=jobrole",
	   data: '&job_func='+$(this).find(':selected').val(),
	   success: function(data){
			$('#job_role').html(data);

	   }
	 });		
        
    });  
});
function showOtherCity(){
	return ($('select[name="current_location"]').find(':selected').text().indexOf('Other')!=-1);
}
function CheckAccountExists(){
	return ($('input[name="account_exists"]:checked').val()=='Yes');
}
function CheckAccountNotExists(){
	return ($('input[name="account_exists"]:checked').val()=='No');
}
</script>