<div class="indent1">
</div>
<h2 class="h2-bg3">Verify your number</h2>
<style>
div.bgtxtBox {
    background: url("images/candidate_profile/txt-callout.gif") no-repeat scroll 0 0 transparent;
    height: 28px;
    padding: 6px 0 0 20px;
    width: 196px;
}
.lt {
    float: left;
}
body, p, div, form, input {
    font-family: Verdana,Arial;
    font-size: 11px;
    margin: 0;
}   
body,p,div,form,input {margin:0px; font-family:Verdana,Arial; font-size:11px;}
.mylnk{color:#1263C8; text-decoration:underline;}
a.mylnk:hover{color:#1263C8; text-decoration:none;}
.mylnk0{color:#1263C8; text-decoration:none;}
a.mylnk0:hover{color:#1263C8; text-decoration:underline;}
.mylnk11{color:#1CAED4; text-decoration:none;}
.mylnk11:hover{color:#1CAED4; text-decoration:underline;}
.mylnk12{color:#1CAED4; text-decoration:underline;}
.mylnk12:hover{color:#1CAED4; text-decoration:none;}
.mylnk2{color:#990003; text-decoration:underline;}
.mylnk2:hover{color:#990003; text-decoration:none;}
div.bgtxtBox{background:url("images/candidate_profile/txt-callout.gif") no-repeat; width:196px; height:28px; padding:6px 0px 0px 20px;}
div.bgtxtBox input.inactive{color:#A2A2A2; border:0px; width:180px;}
.bdr-bot2{border-bottom:solid 2px #CEE4EB; padding-bottom:10px;}
table.nsw th{background-color:#F4F4F4; color:#5592AF; padding:5px 8px;}
table.nsw td{color:#555; padding:10px 8px 5px 8px; border-bottom:solid 1px #F4F4F4;}
.earn{background:url("images/candidate_profile/icon-dboard.gif") no-repeat 0px 0px; width:18px; height:19px;}
.ibox{ background:url("images/candidate_profile/icon-dboard.gif") no-repeat -23px 0px; width:18px; height:19px;}
.invtn{background:url("images/candidate_profile/icon-dboard.gif") no-repeat -46px 0px; width:18px; height:19px;}
.conne{background:url("images/candidate_profile/icon-dboard.gif") no-repeat -69px 0px; width:18px; height:19px;}
.jobapp{background:url("images/candidate_profile/icon-dboard.gif") no-repeat -92px 0px; width:18px; height:19px;}
.rview{background:url("images/candidate_profile/icon-dboard.gif") no-repeat -115px 0px; width:18px; height:19px;}
div.bginvite{background:url("images/candidate_profile/bginvite-contact.gif") no-repeat; width:192px; height:139px;}
div.bgclickjobs{background:url("images/candidate_profile/bgclickjobs.gif") no-repeat; width:192px; height:139px;}
div.bgsupport{background:url("images/candidate_profile/bgsupport.gif") no-repeat; width:192px; height:139px;}
.hdr{font-family:Arial; font-size:20px; color:#555;}
/* Chart */
#chrt{margin:0px; text-align:left;}
#chrt .chart {background:url("images/candidate_profile/chart.gif") no-repeat;}
#chart .c25{width:37px; height:37px; background-position:0px 0px;}
#chart .c30{width:37px; height:37px; background-position:-46px 0px;}
#chart .c35{width:37px; height:37px; background-position:-92px 0px;}
#chart .c40{width:37px; height:37px; background-position:-138px 0px;}
#chart .c45{width:37px; height:37px; background-position:-184px 0px;}
#chart .c50{width:37px; height:37px; background-position:-230px 0px;}
#chart .c55{width:37px; height:37px; background-position:-276px 0px;}
#chart .c60{width:37px; height:37px; background-position:-322px 0px;}
#chart .c65{width:37px; height:37px; background-position:-368px 0px;}
#chart .c70{width:37px; height:37px; background-position:-414px 0px;}
#chart .c75{width:37px; height:37px; background-position:-460px 0px;}
#chart .c80{width:37px; height:37px; background-position:-506px 0px;}
#chart .c85{width:37px; height:37px; background-position:-552px 0px;}
/* Dashboard */
div.dboard-top{background:url("images/candidate_profile/dashboard-top.gif") no-repeat; width:242px; height:28px; font:bold 18px Arial; color:#990003; padding:12px 0px 0px 8px;}
div.dboard-mid{border-left:solid 1px #DEDEDE; border-right:solid 1px #DEDEDE; border-bottom:solid 1px #DEDEDE; width:248px;}
div.dboard-mid div.data{border-bottom:solid 1px #DEDEDE; padding:10px 0px 10px 8px;}
div.dboard-mid a{font:bold 17px Arial; color:#1CAED4; text-decoration:none;}
div.dboard-mid a:hover{font:bold 17px Arial; color:#1CAED4; text-decoration:underline;}
div.hd{font:normal 18px Arial; color:#990003;}
table.myresume th{color:#1CAED4; text-align:left; padding-bottom:10px; vertical-align:top;}
table.myresume td{color:#555; text-align:left; padding-bottom:10px; vertical-align:top;}
div.rpanel1{font:bold 13px 'Trebuchet MS'; color:#FFF; background:url("images/candidate_profile/btop1.gif") no-repeat; width:177px; height:31px; padding:5px 5px 0px 10px; cursor:pointer;}
div.rpanel{font:bold 13px 'Trebuchet MS'; color:#FFF; background:url("images/candidate_profile/btop192.gif") no-repeat; width:177px; height:31px; padding:5px 5px 0px 10px; cursor:pointer;}
div.rpanel-mid{border-left:solid 2px #DBECFD; border-right:solid 2px #DBECFD; vertical-align:top; padding:7px 10px 5px 10px;}
/* B'Card */
div.bc-top{background:url("images/candidate_profile/bc-top.gif"); width:272px; padding:20px 0px 0px 48px; color:#555;}
div.bc-top span{font:bold 14px verdana; color:#990003;}
div.bc-bot{background:url("images/candidate_profile/bc-bot.gif") no-repeat right; width:320px; height:47px;}
div.bc-bot a{color:#FFF; text-decoration:underline;}
div.bc-bot a:hover{color:#FFF; text-decoration:none;}
.rt {
    float: right;
}
.lt {
    float: left;
}
    </style>	
<table style="text-align:left; color:#555;" border="0" cellpadding="0" cellspacing="0" width="982">
		<!-- Error -->
				<tbody>
		<tr>
		  <td style="padding-top:15px;" valign="top" width="500">
				<table border="0" cellpadding="0" cellspacing="0" width="100%">
					<tbody><tr>
					  <td valign="top" width="28%">&nbsp;</td>
					  <td valign="top" width="72%">Mobile: 
					    <label for="mobile_no"></label>
				      <input type="text" name="mobile_no" id="mobile_no" value="{$mobile_no}" readonly="readonly"/>{if $mobile_verified=='Yes'}<img src="images/candidate_profile/verified.gif" alt="" style="vertical-align:middle;" border="0">{else}<input type="button" value="Verify" onclick="VerifyMobile()" id="verifyBtn"/>{/if}&nbsp;&nbsp;<input type="button" value="Change Number" onclick="ChangeMobileNo()" id="cngNoBtn"/><span id="savebtnDiv" style="display:none"><a href="javascript:void(0)" onclick="SaveNewMobileNo()">Save</a>&nbsp;<a href="javascript:void(0)" onclick="CancelMobileChange()">Cancel</a></span></td>
					</tr>
					  <tr>
					    <td valign="top">&nbsp;</td>
					    <td valign="top" id="verify_html_div">&nbsp;</td>
				      </tr>
			      </tbody>
				</table>
			<p style="padding-top:20px;"></p>
					
				<!-- My Resume --><!-- Whats on your network -->
				
			<p style="padding-top:25px;"></p>

	      <!-- Salary Center & What's New --></td>
		  </tr>
	</tbody></table>
    <script type="text/javascript">
	function VerifyMobile(){
		$.ajax({
		  type: "POST",
		  url: "ajax/verifyphone.php",
		  data: { no: $('#mobile_no').val()},
		  success:function(data){
			  $('#verify_html_div').html(data);
			  //setTimeinterval(function(){},500);
			  setInterval("verifiedCheck()", 1000);
		  }
		});	
	}
	function verifiedCheck(){
		$.ajax({
		  type: "POST",
		  url: "ajax/verifiedphone.php",
		  success:function(data){
			  if(data=='Yes'){
				 window.location='mobileverified.php'; 
			  }
		  }
		});		
	}
	function ChangeMobileNo(){
		document.getElementById('mobile_no').readOnly=false;
		document.getElementById('savebtnDiv').style.display='inline';
		document.getElementById('cngNoBtn').style.display='none';
		document.getElementById('verifyBtn').style.display='none';
	}
	function SaveNewMobileNo(){
		//after ajax call
		$.ajax({
		  type: "POST",
		  url: "ajax/updatephone.php",
		  data: { no: $('#mobile_no').val()},
		  success:function(data){
			  if(data=='Success'){
					window.location.reload(); 
			  }
		  }
		});		
	
	}
	function CancelMobileChange(){
		document.getElementById('mobile_no').value='{$mobile_no}';
		document.getElementById('mobile_no').readOnly=true;
		document.getElementById('savebtnDiv').style.display='none';
		document.getElementById('cngNoBtn').style.display='inline';
		document.getElementById('verifyBtn').style.display='inline';
	}	
	</script>