			<form id="SearchForm" action="search_results.php" method="post">
            <div class="Find_Jobs">Find jobs</div>
				<label><strong>What?</strong><span>Type comma separated keywords Or just press tab after each keyword</span><input name="keywords" type="text" value="{$keywords}" /></label>
				<label><strong class="color">Where?</strong><span>Type comma separated locations Or just press tab after each location</span><input name="location" type="text" value="{$location}"  /></label>
                <input type="submit" value="Find Jobs" class="rounded" />
			</form>